//=================================================================
// Sections
//=================================================================

@mixin sections($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$sections: config((
		name            : section
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component(section) {

	// Core Styles
	//-------------------------------------------------------------
	
		background-size: cover;	
		background-position: center;
		@include overwrite-sub(group, $parent: heading) {
			color: typography(colors, heading);
		}
		// Carousel Tools

		.slide-prev,
		.slide-next {
			@include vertical-center(absolute);
		}

	// Modifiers
	//-------------------------------------------------------------

		@include modifiers((primary, secondary)) {
			padding: 6em 0;
		}
	
		@include modifier(secondary) {
			background-color: color(brand, primary);
			> .container {
				position: relative;
			}
			&, a:not([class*="button-"]) {
				color: color(greyscale, white);
			}
			.owl-dot {
				&.active {
					span {
						background: color(greyscale, white);
					}
				} 
			}
			@include overwrite-sub(group, $parent: heading) {
				color: color(greyscale, white);
			}
		}
	
		@include modifier(overlay) {
			@include bg-overlay(rgba(color(brand, primary), 0.4));
			@include nested-modifier(deep) {
				@include bg-overlay(rgba(color(brand, primary), 0.75));
			}
			@include nested-modifier(alt) {
				@include bg-overlay(rgba(color(greyscale, grey-5), 0.5));			
			}
			.wrap-section {
				position: relative;
			}
		}
	
		@include modifier(dot-map) {
			position: relative;
			padding-bottom: 12em;
			&:before {
				content: "";
				background-image: url("#{$asset-path}/images/dot-map.png");
				background-position: center top;
				background-repeat: no-repeat;
				opacity: 0.1;
				position: absolute;
				bottom: 0;
				height: 9em;
				width: grid-option(base-width);
				max-width: grid-option(max-width);
				@extend %horizontal-center;
			}
		}
	
		@include modifier(banner) {
			padding: 5em 0;
		}
		
		@include modifier(flush) {
			padding-top: 0;
		}
		
		@include modifier(block) {
			& + & {
				border-top: 1px solid color(greyscale, grey-2);
			}
		}
		
	// Sub Components
	//-------------------------------------------------------------
	
		@include sub-component(block) {
			position: relative;
			transition: base(transition);
			padding: 7%;
			background-size: cover;
			@include modifier(opaque) {
				background: rgba(white, 0.95);
			}
		}
		
		@include sub-component(graphic) {
			position: relative;
			> img {
				position: absolute;
				transform: translateY(-10%);
				@extend %horizontal-center;
			}
		}
	
	} // component(section)
	
} // @mixin sections