//=================================================================
// Forms
//=================================================================

@mixin forms($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$forms: config((
		name            : form
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component(form) {
	
	// Core Styles
	//-------------------------------------------------------------
	
		font-weight: lighter;
		
		label {
			transition: base(transition);
		}
		
	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(faux-placeholders) {
			label {
				position: absolute;
				top: 0.55em;
				left: 0.65em;
				transform: scale(1);
				cursor: text;
			}
			@include overwrite-sub(group, static) {
				margin-bottom: base(margin);
			}
			@include overwrite-sub(input, static) {
				&::placeholder {
					opacity: 0;
				}
				&:focus {
					+ label {
						top: -1.4em;
						left: 0;
						transform: scale(0.85) translateX(-11%);
						cursor: pointer;
					}
					&::placeholder {
						opacity: 0.5;
						transition: 0s;
					}
				}
			}
		}
		
		@include modifier(html5) {
			@include overwrite-sub(input, static) {
				&:focus {
					&:invalid {
						&, + label {
							border-color: color(validation, invalid);
							color: color(validation, invalid);
						}
					}
					&:valid {
						&, + label {
							border-color: color(validation, valid);
							color: color(validation, valid);
						}
					}
				}
			}
		}
	
	// Sub Components
	//-------------------------------------------------------------
	
		@include sub-component(group, static) {
			position: relative;
			margin-bottom: (base(margin) / 2);
		}
	
		@include sub-component(input, static) {
			display: block;
			width: 100%;
			padding: 0.65em;
			border: 1px solid color(greyscale, grey-3);
			transition: base(transition);
			&::placeholder {
				color: base(text-color);
				transition: base(transition);
			}
			&:focus {
				outline: 0;
			}
		}
		
	} // component(form)
	
} // @mixin forms