//=================================================================
// Forms
//=================================================================

@mixin forms($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$forms: config((
		name            : form
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component(form) {
	
	// Core Styles
	//-------------------------------------------------------------
	
		font-weight: lighter;
		
		label {
			transition: base(transition);
		}
		
	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(faux-placeholders) {
			label {
				@include vertical-center(absolute);
				left: 0.65em;
				cursor: text;
			}
			@include overwrite-sub(group) {
				margin-bottom: base(margin);
			}
			@include overwrite-sub(input) {
				&::placeholder {
					opacity: 0;
				}
				&:focus {
					+ label {
						top: -1em;
						left: 0;
						cursor: pointer;
						font-size: 0.9em;
					}
					&::placeholder {
						opacity: 0.5;
						transition: 0s;
					}
				}
			}
		}
		
		@include modifier(html5) {
			@include overwrite-sub(input) {
				&:focus {
					&:invalid {
						&, + label {
							border-color: color(validation, invalid);
							color: color(validation, invalid);
						}
					}
					&:valid {
						&, + label {
							border-color: color(validation, valid);
							color: color(validation, valid);
						}
					}
				}
			}
		}
	
	// Sub Components
	//-------------------------------------------------------------
	
		@include sub-component(group) {
			position: relative;
			margin-bottom: (base(margin) / 2);
			[type="submit"] {
				position: absolute;
				right: 0;
				height: 100%;
				padding: 0 1em;
			}
			@include modifier(small) {
				font-size: font-size(size-2);
			}
		}
	
		@include sub-component(input) {
			display: block;
			width: 100%;
			padding: 0.65em;
			border: 1px solid color(greyscale, grey-3);
			transition: base(transition);
			color: base(text-color);
			&::placeholder {
				color: base(text-color);
				transition: base(transition);
			}
			&:focus {
				outline: 0;
			}
			@include modifier(plain) {
				border-color: transparent;
			}
		}
		
	} // component(form)
	
} // @mixin forms