//=================================================================
// Tabs
//=================================================================

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin tabs($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$tabs: config((
		name            : tabs,
		output-JSON     : true
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
			
	// Child Components
	//-------------------------------------------------------------

		@include sub-component(nav) {
			
			@extend %list-reset;
			@extend .clearfix;
			margin: auto;
			
			li {
				cursor: pointer;
				transition: base(transition);
				float: left;
				&.active {
				}
			}
			
			@include modifier(pills) {
				margin-bottom: base(margin);
				display: inline-block;
				li {
					padding: 0.5em 1em;
					border: 1px solid color(greyscale, grey-3);
					&.active {
						background: color(brand, primary);
						color: color(greyscale, white);
						border-color: color(brand, primary);
						+ li {
							border-left-color: color(brand, primary);
						}
					}
					&:not(:last-child) {
						border-right: none;
					}
					&:first-child {
						border-radius: 0.4em 0 0 0.4em;
					}
					&:last-child {
						border-radius: 0 0.4em 0.4em 0;
					}
				}
				@include nested-modifier(large) {
					font-size: 1.2em;
					margin-bottom: (base(margin) * 2);
				}
			}
			
		} // sub-component(nav)
		
		@include sub-component(content) {
			display: none;
			&.active {
				display: block;
			}
		}
	
	} // component
	
} // @mixin tabs
