//=================================================================
// Tabs
//=================================================================

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin tabs($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$tabs: config((
		'name'                       : 'tabs',
		'output-JSON'                : true,
        'navItem-padding'            : 0 1em,
        'navItem-lineHeight'         : 2.4,
        'navItem-borderColor'        : color('greyscale', 'grey-3'),
        'navItem-active-color'       : color('greyscale', 'white'),
        'navItem-active-borderColor' : color('brand', 'primary'),
        'navItem-active-background'  : color('brand', 'primary'),
        'contentBlock-background'    : color('greyscale', 'white'),
        'contentBlock-color'         : base('text-color'),
        'contentBlock-borderColor'   : color('greyscale', 'grey-2'),
        'contentBlock-padding'       : 1.5em,
        'contentBlock-glueHeight'    : 6px,
        'contentBlock-glueColor'     : color('brand', 'primary'),
        'contentBlock-deepPadding'   : 2.5em
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module {
			
	// Child Components
	//-------------------------------------------------------------

		@include component(nav) {
			
			@extend %list-reset;
			@extend .clearfix;
			margin-left: auto;
			margin-right: auto;
            margin-bottom: 0;
			position: relative;
			z-index: 2;
			
			li {
				cursor: pointer;
				transition: base('transition');
				float: left;
				padding: 0 1em;
                line-height: 2.4;
				border: 1px solid color('greyscale', 'grey-3');
				&.active {
					color: color('greyscale', 'white');
					border-color: color('brand', 'primary');
					background: color('brand', 'primary');
					+ li {
						border-left-color: color('brand', 'primary');
					}
				}
				&:not(:last-child) {
					border-right: none;
				}
			}
			
			@include modifier('pills') {
				display: inline-block;
				@include nested-modifier('large') {
					margin-bottom: (base('margin') * 2);
				}
			}
			
		} // component(nav)
		
		@include component('content') {
			@include modifier('block') {
				background: color('greyscale', 'white');
                color: base('text-color');
				border: 1px solid color('greyscale', 'grey-2');
				padding: 1.5em;
				position: relative;
				top: -1px;
				@include nested-modifier('glue') {
					$tabs-glue: 6px;
					margin-top: $tabs-glue;
					top: -2px;
					z-index: 2;
					&:before {
						content: "";
						position: absolute;
						left: -1px;
						top: -$tabs-glue;
						height: $tabs-glue;
						width: calc(100% + 2px);
						border: 1px solid color('brand', 'primary');
						background: color('brand', 'primary');
					}
				}
                @include nested-modifier('deep') {
                    padding: 2.5em;
                }
			}
		}
        
        @include component('item') {
			display: none;
			&.active {
				display: block;
			}
        }
	
	} // module
	
} // @mixin tabs
