[submodule "assets/vendor/Font-Awesome"]
	path = assets/vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/vendor/Owl-Carousel"]
	path = assets/vendor/Owl-Carousel
	url = https://github.com/smashingboxes/OwlCarousel2.git
[submodule "assets/vendor/jQuery"]
	path = assets/vendor/jQuery
	url = https://github.com/jquery/jquery.git
[submodule "assets/vendor/Synergy"]
	path = assets/vendor/Synergy
	url = https://github.com/esr360/Synergy.git
[submodule "assets/vendor/Enlighter"]
	path = assets/vendor/Enlighter
	url = https://github.com/AndiDittrich/EnlighterJS.git
[submodule "assets/vendor/jquery-animateNumber"]
	path = assets/vendor/jquery-animateNumber
	url = https://github.com/aishek/jquery-animateNumber.git
[submodule "assets/vendor/Stellar"]
	path = assets/vendor/Stellar
	url = https://github.com/markdalgleish/stellar.js.git
[submodule "assets/vendor/TweeCool"]
	path = assets/vendor/TweeCool
	url = https://github.com/esr360/tweecool-jquery-plugin.git
[submodule "assets/vendor/Kayzen-GS"]
	path = assets/vendor/Kayzen-GS
	url = https://github.com/esr360/Kayzen-GS.git
[submodule "assets/vendor/ScrollTrigger"]
	path = assets/vendor/ScrollTrigger
	url = https://github.com/esr360/ScrollTrigger.git
[submodule "assets/vendor/Masonry"]
	path = assets/vendor/Masonry
	url = https://github.com/desandro/masonry.git
[submodule "assets/vendor/Infinite-AJAX-Scroll"]
	path = assets/vendor/Infinite-AJAX-Scroll
	url = https://github.com/webcreate/infinite-ajax-scroll.git
[submodule "assets/vendor/Isotope"]
	path = assets/vendor/Isotope
	url = https://github.com/metafizzy/isotope.git
[submodule "assets/vendor/Magnific-Popup"]
	path = assets/vendor/Magnific-Popup
	url = https://github.com/dimsemenov/Magnific-Popup.git
[submodule "assets/vendor/MooTools-Core"]
	path = assets/vendor/MooTools-Core
	url = https://github.com/mootools/mootools-core.git
[submodule "normalize-scss"]
	path = normalize-scss
	url = https://github.com/JohnAlbin/normalize-scss.git
[submodule "assets/vendor/normalize-scss"]
	path = assets/vendor/normalize-scss
	url = https://github.com/JohnAlbin/normalize-scss.git
[submodule "assets/vendor/support-for"]
	path = assets/vendor/support-for
	url = https://github.com/JohnAlbin/support-for.git
[submodule "assets/vendor/pseudojQuery"]
	path = assets/vendor/pseudojQuery
	url = https://github.com/esr360/pseudojQuery.git
[submodule "assets/vendor/Aloads"]
	path = assets/vendor/Aloads
	url = https://github.com/awedoo/aloads.git
[submodule "docs"]
	path = docs
	url = https://github.com/esr360/Kayzen.docs.git
