[submodule "docs"]
	path = docs
	url = https://github.com/esr360/Kayzen.docs.git
[submodule "builder"]
	path = builder
	url = https://github.com/esr360/Kayzen.builder.git
[submodule "assets/vendor"]
	path = assets/vendor
	url = https://github.com/esr360/Kayzen.vendor.git
