[submodule "app/vendor/Font-Awesome"]
	path = app/vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "app/vendor/Owl-Carousel"]
	path = app/vendor/Owl-Carousel
	url = https://github.com/smashingboxes/OwlCarousel2.git
[submodule "app/vendor/SassyJSON"]
	path = app/vendor/SassyJSON
	url = https://github.com/esr360/SassyJSON.git
[submodule "app/vendor/sudojQuery"]
	path = app/vendor/sudojQuery
	url = https://github.com/esr360/sudojQuery.git
[submodule "app/vendor/jQuery"]
	path = app/vendor/jQuery
	url = https://github.com/jquery/jquery.git
[submodule "app/vendor/Modular"]
	path = app/vendor/Modular
	url = https://github.com/esr360/Modular.git
[submodule "app/vendor/Enlighter"]
	path = app/vendor/Enlighter
	url = https://github.com/AndiDittrich/EnlighterJS.git
[submodule "app/vendor/jquery-animateNumber"]
	path = app/vendor/jquery-animateNumber
	url = https://github.com/aishek/jquery-animateNumber.git
[submodule "app/vendor/Stellar"]
	path = app/vendor/Stellar
	url = https://github.com/markdalgleish/stellar.js.git
[submodule "app/vendor/TweeCool"]
	path = app/vendor/TweeCool
	url = https://github.com/esr360/tweecool-jquery-plugin.git
[submodule "app/vendor/Kayzen-GS"]
	path = app/vendor/Kayzen-GS
	url = https://github.com/esr360/Kayzen-GS.git
[submodule "app/vendor/Normalize"]
	path = app/vendor/Normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "app/vendor/Kayzen.ScrollSpy"]
	path = app/vendor/Kayzen.ScrollSpy
	url = https://github.com/esr360/Kayzen.ScrollSpy.git
[submodule "app/vendor/ScrollTrigger"]
	path = app/vendor/ScrollTrigger
	url = https://github.com/esr360/ScrollTrigger.git
[submodule "app/vendor/Masonry"]
	path = app/vendor/Masonry
	url = https://github.com/desandro/masonry.git
[submodule "app/vendor/infinite-scroll"]
	path = app/vendor/infinite-scroll
	url = https://github.com/infinite-scroll/infinite-scroll.git
[submodule "app/vendor/imagesLoaded"]
	path = app/vendor/imagesLoaded
	url = https://github.com/desandro/imagesloaded.git
