//=================================================================
// Kayzen
//=================================================================

@if $theme == Kayzen {

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

	@include palettes((
		brand: (
			primary            : #9B58B5
		)
	));
	
	@include grid;
	@include base;
	@include helpers;
	@include tools;
	@include typography;

//-----------------------------------------------------------------
// Elements
//-----------------------------------------------------------------

	@include accordions;
	@include alert-bars;
	@include blockquotes;
	@include buttons;
	@include carousels;
	@include fonts;
	@include forms;
	@include headings;
	@include icons;
	@include images;
	@include lists;
	@include modals;
	@include progress-bars;
	@include tables;
	@include tooltips;
	@include wells;
	@include widgets;

//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

	@include breadcrumb;
	@include flyout-navigation;
	@include footer;
	@include google-map;
	
	@include header((
		selector-type          : static,
		absolute               : true,
		bar                    : true,
		bg-color               : transparent,
		top-position           : 60px
	));
	
	@include logo;
	
	@include navigation((
		no-icons               : true,
		link-color             : color(greyscale, white),
	));
	
	@include dropdown;
	@include promo-banner;
	@include scroll-top;
	@include scroll-wheel;

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

	@include sections;
	
	@include billboard((
		selector-type          : static,
		full-screen            : true,
		overlay                : true,
		bg-image               : "#{$asset-path}/images/billboard-1.jpg",
		wrapper-width          : 800px
	));

} // Kayzen