//=================================================================
// Progress Bars
//=================================================================

@mixin progress-bars($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$progress-bars: config((
		'name'             : 'progress-bar',
        'background-color' : rgba(black, 0.15),
        'fill-color'       : color(brand, primary),
        'bar-height'       : 1.5em,
        'bar-radius'       : 0.25em,
        'value-color'      : color(greyscale, white),
        'value-size'       : font-size(size-2),
        'group-spacing'    : 0.5em
	), $custom);
	
	// Component
	//-------------------------------------------------------------
	
	@include module {
		display: block;
		position: relative;
		background: rgba(black, 0.15);
		width: 100%;
		height: 1.5em;
		border: none;
		border-radius: 0.25em;
		overflow: hidden;
		&:before {
			@include vertical-center(absolute);
			left: 0.5em;
			content: attr(data-progress);
			color: color(greyscale, white);
			font-size: font-size(size-2);
		}
	}
    
    .progress {
        background-color: color(brand, primary);
    }

	// HTML5 Progress
	//-------------------------------------------------------------
	
	progress {
	
		&::-webkit-progress-bar {
			background: rgba(black, 0.15);
			height: 1.5em;
		}
	
		&::-webkit-progress-value {
			background: color(brand, primary);
			height: 1.5em;
		}
		
		&::-moz-progress-bar {	
			background: color(brand, primary);
		}
	
	} // progress
	
	// Components
	//-------------------------------------------------------------
	
	@include component(group) {
		@include overwrite(heading) {
			margin-bottom: 0.5em;
		}
	}
	
} // @mixin progress-bars