//=================================================================
// Progress Bars
//=================================================================

@mixin progress-bars($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$progress-bars: config((
		name            : progress-bar
	), $custom);
	
	// Component
	//-------------------------------------------------------------
	
	@include component {
		display: block;
		position: relative;
		background: rgba(black, 0.15);
		width: 100%;
		height: 1.5em;
		border: none;
		border-radius: 0.25em;
		overflow: hidden;
		&:before {
			@include vertical-center(absolute);
			left: 0.5em;
			content: attr(data-progress);
			color: color(greyscale, white);
			font-size: font-size(size-2);
		}
	}

	// HTML5 Progress
	//-------------------------------------------------------------
	
	progress {
	
		&::-webkit-progress-bar {
			background: rgba(black, 0.15);
			height: 1.5em;
		}
	
		&::-webkit-progress-value {
			background: color(brand, primary);
			height: 1.5em;
		}
		
		&::-moz-progress-bar {	
			background: color(brand, primary);
		}
	
	} // progress
	
	// Sub-Components
	//-------------------------------------------------------------
	
	@include sub-component(group) {
		@include overwrite(heading) {
			margin-bottom: 0.5em;
		}
	}
	
} // @mixin progress-bars