//=================================================================
// Page Overview
//=================================================================

@mixin page-overview($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$page-overview: config((
		'name'            : 'page-overview',
		'output-json'     : true,
		'position'        : left
	), $custom);
	
	//-------------------------------------------------------------
	// Module
	//-------------------------------------------------------------

	@include module {
		
	// Core Styles
	//-------------------------------------------------------------
		
		position: fixed;
		z-index: 9;
			
		@include overwrite-component('group', $parent: 'heading') {
			display: none;
		}
		
		@include overwrite('button') {
			margin: 0;
			font-size: 1.25rem;
		}
		
	// Modifiers
	//-------------------------------------------------------------
	
		@include modifiers(('left', 'right')) {
			top: 25%;
			@include overwrite-component('item') {	
				&:after {
					top: 0;
					height: 100%;
					width: 0.2em;
				}
			}
		}
		
		@include modifier('left') {
			left: 0;
			@include overwrite-component('item') {
				&:after {
					right: -0.2em;
				}
			}
		}
		
		@include modifier('right') {
			right: 0;
			@include overwrite-component('item') {
				&:after {
					left: -0.2em;
				}
			}
		}
		
		@include modifiers(('top', 'bottom')) {
			left: 50%;
			transform: translateX(-50%);		
			@include overwrite-component('item') {
				float: left;
				&:after {
					left: 0;
					height: 0.2em;
					width: 100%;
				}
			}
		}
		
		@include modifier('top') {
			top: 0;
			@include overwrite-component('item') {
				&:after {
					bottom: -0.2em;
				}
			}
		}
		
		@include modifier('bottom') {
			bottom: 0;
			@include overwrite-component('item') {
				&:after {
					top: -0.2em;
				}
			}
		}
		
	// Components
	//-------------------------------------------------------------
	
		@include component('item') {
			background: color('greyscale', 'white');
			position: relative;
			display: block;	
			padding: 0.5em;
			box-shadow: 0px 0px 1px rgba(black, 0.2);
			&:after {
				content: "";
				background-color: color('brand', 'primary');
				position: absolute;
			}
			&.active,
			&:hover {
				background: color('brand', 'primary');
				[class*="_icon"] {
					color: white;
				}
			}
		}
		
	} // module
	
} // @mixin page-overview