/******************************************************************

Kayzen UIX
Made by @esr360
http://github.com/esr360/Kayzen-UIX/

******************************************************************/

// Asset Path
$asset-path : "../..";

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

@import "skeleton/SassyJSON/SassyJSON";
@import "skeleton/normalize";
@import "skeleton/modular";
@import "skeleton/utilities";
@import "skeleton/grid";
@import "skeleton/color-palettes";
@import "skeleton/tools";
@import "skeleton/typography";
@import "skeleton/base";
@import "skeleton/helpers";
@import "skeleton/print";

//-----------------------------------------------------------------
// Elements
//-----------------------------------------------------------------

@import "elements/accordions";
@import "elements/alert-bars";
@import "elements/buttons";
@import "elements/blockquotes";
@import "elements/carousels";
@import "elements/fonts";
@import "elements/forms";
@import "elements/headings";
@import "elements/icons";
@import "elements/images";
@import "elements/lists";
@import "elements/modals";
@import "elements/progress-bars";
@import "elements/tables";
@import "elements/tabs";
@import "elements/tooltips";
@import "elements/wells";
@import "elements/widgets";

//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

@import "modules/breadcrumb";
@import "modules/flyout-navigation";
@import "modules/footer";
@import "modules/google-map";
@import "modules/header";
@import "modules/logo";
@import "modules/navigation";
@import "modules/dropdown";
@import "modules/promo-banner";
@import "modules/scroll-wheel";
@import "modules/scroll-top";

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

@import "sections/sections";
@import "sections/billboard";

//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

$theme: Kayzen;

@import "themes/default";
@import "themes/kayzen";
@import "themes/sandbox";

@include json-encode($config-JSON);
