//=================================================================
// Top Bar
//=================================================================

@mixin top-bar($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$top-bar: config((
		name            : top-bar,
		height          : 60px,
		output-JSON     : true
	), $custom) !global;

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
	
		height: 60px;
		background: color(greyscale, grey-5);
		padding: 1em 0;
		
		a:not([class*="button"]) {
			color: color(greyscale, grey-3);
		}
		
	}
	
} // @mixin top-bar