//=================================================================
// Top Bar
//=================================================================

@mixin top-bar($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$top-bar: config((
		name            : top-bar,
		output-JSON     : true,
		height          : 60px,
		padding         : 1em 0
	), $custom) !global;

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
	
		height: option($config, height);
		background: color(greyscale, grey-5);
		padding: option($config, padding);
		
		a:not([class*="button"]) {
			color: color(greyscale, grey-3);
		}
		
	}
	
} // @mixin top-bar