//=================================================================
// Top Bar
//=================================================================

@mixin top-bar($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$top-bar: config((
		name             : top-bar,
		output-JSON      : true,
		height           : 60px,
		background       : color(greyscale, grey-5),
		padding          : 1em 0,
		link-color       : color(greyscale, grey-3),
		link-hover-color : color(greyscale, white) 
	), $custom) !global;

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
	
		background: option($config, background);
		position: relative;
		font-weight: lighter;
		
		a:not([class*="button"]) {
			color: option($config, link-color);
			&:hover {
				color: option($config, link-hover-color);
				text-decoration: none;
			}
		}
		
		@include sub-component(item) {
			vertical-align: middle;
			width: auto;
		}
		
		@include sub-component(nav) {
			height: option($config, height);
			margin: 0 1em;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			> ul {
				@extend %list-reset;
				&, > li {
					height: 100%;
				}
				> li {
					float: left;
					display: table;
					margin-left: 0;
					border-left: 1px solid rgba(black, 0.6);
					box-shadow: inset 1px 0px 0px 0px rgba(white, 0.1);
					> a {
						padding: 0 1em;
						display: table-cell;
						vertical-align: middle;
					}	
					[data-notification] {
						&:after {
							position: absolute;
							top: 50%;
							@extend %horizontal-center;
							transform: translate(80%, -100%);
						}
					}
				}
			}
		}
		
	} // component
	
} // @mixin top-bar