//=================================================================
// Widgets
//=================================================================

@mixin widgets($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$widgets: config((
		name            : widget
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(widget) {

	// Core Styles
	//-------------------------------------------------------------
	
		transition: base(transition);
		
		&:hover {
			text-decoration: none;
		}

		@include overwrite-sub(group, $parent: heading) {
			margin-bottom: 0;
		}

	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(block) {
			background: color(greyscale, white);	
			padding: 2.5em 1em;
			@include nested-modifier(small) {
				padding: 1.5em 1em;
				@include overwrite-sub(icon) {
					margin-bottom: base(margin) * 0.57; // magic number 1 of 1
				}
			}
			@include nested-modifier(fill) {
				background-color: color(brand, primary);	
				color: color(greyscale, white);
				@include overwrite(heading) {
					color: color(greyscale, white);
				}
				@include overwrite-sub(icon) {
					color: color(greyscale, white);
				}
			}
			&:hover {
				background-color: color(brand, primary);	
				color: color(greyscale, white);
				@include overwrite(heading) {
					color: color(greyscale, white);
				}
				@include overwrite-sub(icon) {
					color: color(greyscale, white);
				}
				@include nested-modifier(fill) {
					background-color: darken(color(brand, primary), 10%);
				}
				@include nested-modifier(panel) {
					border-color: color(brand, primary);
				}
			}
		}
	
		@include modifier(panel) {
			padding: 4%;
			border-top: 1px solid color(greyscale, grey-2);	
			border-left: 1px solid color(greyscale, grey-2);
			@include nested-modifier(small) {
				padding: 4% 2%;
			}
		}
		
		@include modifier(borderTop) {
			border-top: 0.6em solid rgba(black, 0.15);
			@include nested-modifier(highlight) {
				border-top-color: color(brand, primary);
				&:hover {
					border-top-color: rgba(black, 0.15);
				}
			}
		}
	
		@include modifier(borderLeft) {
			border-left: 0.6em solid rgba(black, 0.15);
			@include nested-modifier(highlight) {
				border-left-color: color(brand, primary);
				&:hover {
					border-left-color: rgba(black, 0.15);
				}
			}
		}
		
		@include modifier(stacked) {
			margin-bottom: base(margin);
			@include vertical-rhythm(bottom);
			p {
				margin-top: (base(margin) / 2);
			}
		}
	
		@include modifier(scale) {
			z-index: 1;
			transform: translateZ(0);
			&:hover {
				transform: scale(1.1) translateZ(0);
				z-index: 5;
			}
		}
		
		@include modifier(media) {
			position: relative;
		}
	
		@include modifier(spectrum-quarter) {
			color: color(greyscale, white);
			padding: 2.5em 1em;
			&:nth-child(1) {
				background: darken(color(brand, primary), 6%);
			}
			&:nth-child(2) {
				background: darken(color(brand, primary), 2%);
			}
			&:nth-child(3) {
				background: lighten(color(brand, primary), 2%);
			}
			&:nth-child(4) {
				background: lighten(color(brand, primary), 6%);
			}
			@include overwrite(icon) {
				color: rgba(color(greyscale, white), 0.5);
			}
			&:hover {
				@include overwrite(icon) {
					color: color(greyscale, white);
				}
			}
		}
		
		@include modifier(greyscale) {    
			filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    		filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%);
			&:hover {
				filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    			-webkit-filter: grayscale(0%);
			}
		}
			
	// Sub Components
	//-------------------------------------------------------------
	
		@include sub-component {
			@include modifier(inline) {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0 !important;
				+ p {
					margin-top: (base(margin) / 2);
				}
			}
		}
		
		@include sub-component(group) {
			@include modifier(large) {
				margin-bottom: (base(margin) * 2);
				@include vertical-rhythm(bottom);
			}
			@include modifier(grid) {
				margin-bottom: -#{option($grid, options, gutter)} !important;
				@include overwrite(widget) {
					margin-bottom: option($grid, options, gutter);
				}
			}
		}
		
		@include sub-component(icon) {
			color: color(greyscale, grey-3);
			margin-bottom: base(margin);
			@include modifier(inline) {
				margin-right: 0.5rem;
			}
			@include context(parent-hovered) {
				color: color(brand, primary);
			}
		}
		
		@include sub-component(header) {
			@include overwrite-sub(icon, $special: adjacent-sibling) {
				margin-left: 0.5rem;
				margin-right: 0;
			}
		}
		
		@include sub-component(controls) {
			position: absolute;
			bottom: 0;
		}
	
	} // component(widget)
	
} // @mixin widgets