//=================================================================
// Flyout Trigger
//=================================================================

@mixin flyout-trigger($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $site-overlay: config((
        'name'            : 'flyout-trigger',
        'z-index'         : 14
    ), $custom);

    //-------------------------------------------------------------
    // Component
    //-------------------------------------------------------------

    @include module {
        
        @include vertical-center(absolute);
        right: 0;
        cursor: pointer;
        z-index: this('z-index');
        
    } // module
        
} // @mixin flyout-trigger