//=================================================================
// Thumbnails
//=================================================================

@mixin thumbnails($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$forms: config((
		name            : thumbnail
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {

	// Core Styles
	//-------------------------------------------------------------
	
		position: relative;
		overflow: hidden;
		margin-bottom: base(margin);
		@include vertical-rhythm;
		
		img {
			transition: 0.4s;
			min-width: 100%;
			display: block;
		}

	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(styled) {
			border: 5px solid white;
			box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
			display: block;
		}
		
		@include modifier(profile) { 
			height: 50px;
			width: 50px;
			border: 4px solid white;
			border-radius: 50%;
    		box-shadow: 0 0 0 7px rgba(black, 0.2);
			> img {
				max-width: none;
				width: auto;
				margin-left: -25%;
				height: 101%;
			}
		}
		
		@include overwrite(icon) {
			color: color(greyscale, white);
		}
	
		@include modifier(zoom) {
			&:hover {
				img {
					transform: scale(1.25);
				}
			}
		}

	// Sub-Components
	//-------------------------------------------------------------
		
		@include sub-component(mask) {
			background: rgba(black, 0.6);
			position: absolute;
			z-index: 2;
			height: 100%;
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: base(transition);
			&:before {
				content: "";
				position: absolute;
				border: 2px solid color(brand, primary);
				top: 1.25rem;
				bottom: 1.25rem;
				left: 1.25rem;
				right: 1.25rem;
				z-index: 4;
				opacity: 0;
				transform: scale(1.15);		   
				transition: base(transition);
			}
			@include overwrite-sub(group, $parent: icon) {
				@extend %horizontal-center;
				position: absolute;
				top: 42.5%;
				transform: translateY(-50%);
				display: inline-block;
				z-index: 6;
				transition: base(transition);
			}
			@include context(parent-hovered) {
				opacity: 1;
				&:before {
					opacity: 1;
					transform: scale(1);
				}
				@include overwrite-sub(group, $parent: icon) {
					top: 50%;
				}
			}
		}
		
		// Nested thumbnail-profile
		
		@include overwrite($is: profile, $special: adjacent-sibling) {
			position: absolute;
			z-index: 3;
			top: 8%;
			left: -0.5em;
			transition: base(transition);
		}
		
	}
	
} // @mixin thumbnails