//=================================================================
// Base
//=================================================================

@mixin base($config: ()) {

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

	$config: map-merge((
		background       : color(greyscale, grey-1),
		font-family      : typography(typefaces, primary),
		text-color       : typography(colors, base),
		font-size        : typography(sizes, base),
		margin           : 2rem,
		line-height      : 1.4,
		radius           : 0.4em,
		oval-radius      : 1.5em,
		transition       : 0.4s
	), $config);

//-----------------------------------------------------------------
// General
//-----------------------------------------------------------------
	
	html, body {
		padding: 0;
		margin: 0;
	    height: 100%;
	}
	
	html {
	    overflow-x: hidden;
	}
	
	body {
		background: map-get($config, background-color);
	    font-family: map-get($config, font-family);
	    color: map-get($config, text-color);
	    font-size: map-get($config, font-size);
	    line-height: map-get($config, line-height);
	}

//-----------------------------------------------------------------
// Structure
//-----------------------------------------------------------------
	
	@include component(container) {
	
	    @include core {
	        width: $base-width;
	        max-width: $max-width;
	        margin: 0 auto;
			position: relative;
	    }
	
	    @include modifier(small) {
	        width: $small-width;
	    }
	
	    @include modifier(full) {
	        width: $small-width;
	        width: $full-width;
	        max-width: $full-width
	    }
	
	} // component(container)

	.wrapper {
	    padding: 0 $gutter;
	}
	
	#main,
	#site-content {
	    height: 100%;
	}
	
	.site-overlay {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    cursor: pointer;
	    background: rgba(0,0,0,0.4);
	    transform: translateZ(0);
	    transition: map-get($config, transition);
	    z-index: 10;
	    visibility: hidden;
	    opacity: 0;
	    &.visible {
	        visibility: visible;
	        opacity: 1;
	    }
	}

//-----------------------------------------------------------------
// Layout
//-----------------------------------------------------------------
	
	* {
	    &, &:before, &:after {
	        box-sizing: border-box;
	    }
	}
	
	h1, h2, h3, h4, h5, h6, 
	p, ul, ol, 
	fieldset, legend, figure, table, 
	pre, hr {
	    margin: map-get($config, margin) 0;
	    @include vertical-rhythm;
	}
	
	::selection {
		background-color: color(brand, primary);
		color: color(greyscale, white);
		text-shadow: none;
	}
	
	$base-config: $config !global;

} // base

@include base(
	if(variable-exists(base-custom), $base-custom, ())
);

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@function base($key) {
    @return map-get($base-config, $key);
}