//=================================================================
// Default Configuration
//=================================================================

// These are the default variables for the Kayzen framework. Each
// theme has its own scss file where the custom options are set.

//-----------------------------------------------------------------
// General
//-----------------------------------------------------------------

// Asset Path
$asset-path                     : "../..";

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

// Breakpoints
//-----------------------------------------------------------------

$breakpoints: (
	break-0                     : 0px,
	break-1                     : 460px,
	break-2                     : 720px,
	break-3                     : 940px,
	break-4                     : 1200px,
	break-5                     : 1400px
) !default;

@function breakpoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

// Fractions
//-----------------------------------------------------------------

$fractions: (
	full                        : (1, 1),
	half                        : (1, 2),
	third                       : (1, 3),
	quarter                     : (1, 4),
	sixth                       : (1, 6)
) !default;

@function fraction($fraction) {
    @return map-get($fractions, $fraction);
}

// Structyre & Layout
//-----------------------------------------------------------------

$base-width                     : breakpoint(break-4) !default;
$max-width                      : 90% !default;
$small-width                    : breakpoint(break-3) !default;
$full-width                     : 100% !default;

$columns                        : 12 !default;
$gutter                         : 3% !default;
$col-collapse                   : breakpoint(break-3) !default;

//-----------------------------------------------------------------
// Theming
//-----------------------------------------------------------------

// Global
//-----------------------------------------------------------------

$background-color               : color(greyscale, grey-1) !default;

$base-margin                    : 2rem !default;
$base-line-height               : 1.4 !default;
$base-radius                    : 0.4em !default;
$oval-radius                    : 1.5em !default;
$base-transition                : 0.4s !default;