//=================================================================
// Utilities
//=================================================================

//-----------------------------------------------------------------
// Vertical Centering
//-----------------------------------------------------------------

@mixin vertical-center($position) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}
	
//-----------------------------------------------------------------
// Font Sizes
//-----------------------------------------------------------------

@mixin font-sizes {
	@each $size, $value in typography-config(sizes) {
		@include modifier($size) {
			font-size: $value;
		}
	}
}

//-----------------------------------------------------------------
// Overlay
//-----------------------------------------------------------------

@mixin bg-overlay($background) {
	position: relative;
	&:before {
		content: "";
		z-index: 0;
		background: $background;
		@extend %fill-parent;
	}
}

//-----------------------------------------------------------------
// Keyframes
//-----------------------------------------------------------------

@keyframes spin { 
	0% {
		transform: rotate(0deg); 
	}
	100% { 
		transform: rotate(360deg); 
	} 
}

//-----------------------------------------------------------------
// CSS Triangle
//-----------------------------------------------------------------

@mixin triangle-core {
	&:after {
		content:'';
		position: absolute;
		width: 0;
		height: 0;
	}
}

@mixin triangle($config: ()) {
	
	$config: map-merge((
		core     : true, 
		position : top, 
		color    : rgba(black, 0.8),
		size     : 0.5em
	), $config);
	
	&:after {
		margin-left: -#{map-get($config, size)};
		@if map-get($config, core) {
			@include triangle-core;
		}
		@if map-get($config, position) == top {
			top: 100%;
			left: 50%;
			border-left: solid map-get($config, size) transparent;
			border-right: solid map-get($config, size) transparent;
			border-top: solid map-get($config, size) map-get($config, color);
		} @else if map-get($config, position) == bottom {
			bottom: 100%;
			left: 50%;
			border-left: solid map-get($config, size) transparent;
			border-right: solid map-get($config, size) transparent;
			border-bottom: solid map-get($config, size) map-get($config, color);
		} @else if map-get($config, position) == left {
			top: 50%;
			right: -#{map-get($config, size)};
			transform: translateY(-50%);
			border-top: solid map-get($config, size) transparent;
			border-bottom: solid map-get($config, size) transparent;
			border-left: solid map-get($config, size) map-get($config, color);
		} @else if map-get($config, position) == right {
			top: 50%;
			right: 100%;
			transform: translateY(-50%);
			border-top: solid map-get($config, size) transparent;
			border-bottom: solid map-get($config, size) transparent;
			border-right: solid map-get($config, size) map-get($config, color);
		}
	}
	
} // triangle