//=================================================================
// Header
//=================================================================

@mixin header($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $header: config((
        'name'                 : 'app-header',
        'output-JSON'          : true,
        // Options
        'background'           : base('background'),
        'height'               : 100px,
        'font-size'            : 1em,
        'z-index'              : 5,
        // Settings
        'bar'                  : true,
        'absolute'             : (
            'enabled'          : false,
            'top-position'     : 0
        ),
        'dark'                 : (
            'enabled'          : false,
            'background'       : color('greyscale', 'grey-6')
        ),
        'side'                 : (
            'enabled'          : false,
            'background'       : color('greyscale', 'grey-5'),
            'font-size'        : font-size('size-2'),
            'transition'       : base('transition'),
            'z-index'          : 10,
            'width'            : 350px,
            'container-width'  : 100%,
            'visible-at'       : breakpoint('break-5'),
            'logo-padding'     : 0.75em
        ),
        'sticky'               : (
            'enabled'          : false,
            'background'       : color('greyscale', 'grey-6'),
            'height'           : 70px,
            'logo-height'      : 28px,
            'font-size'        : font-size('size-2')
        )
    ), $custom) !global;

    //-------------------------------------------------------------
    // Module
    //-------------------------------------------------------------

    @include module {

    // Core Styles
    //-------------------------------------------------------------

        overflow: visible;
        font-size: this('font-size');
        background: this('background');
        
        @if this('fixed') {
            margin-top: this('height');
        }

    // Settings
    //-------------------------------------------------------------

        // Header Bar
        //---------------------------------------------------------
        
        @include option('bar') {
            @include overwrite-component('wrapper') {	
                display: table;
                width: 100%;
            }
            @include overwrite(('logo', 'navigation')) {
                display: table-cell;
                vertical-align: middle;
            }
        }
        
        // Absolute Position Header
        //---------------------------------------------------------
        
        @include option('absolute') {
            position: absolute;
            margin-top: this('absolute', 'top-position');
            z-index: this('z-index');
            width: 100%;
        }

        // Side Header
        //---------------------------------------------------------

        @include option('side') {
            
            z-index: this('side', 'z-index');  
            background: this('side', 'background'); 
            
            @media (min-width: this('side', 'visible-at')) {

                position: fixed;
                height: 100%;
                top: 0;
                transform: translate3d(0,0,0);
                
                font-size: this('side', 'font-size');
                transition: this('side', 'transition');
                width: this('side', 'width');
                left: -#{this('side', 'width')};
                
                @include overwrite('container') {
                    max-width: this('side', 'container-width');
                }
                
                @include overwrite('logo') {
                    padding: this('side', 'logo-padding');
                    img {
                        height: this('sticky', 'logo-height');
                    }
                }
                
                @include value($value: 'left') {
                    left: 0;
                    right: auto;
                    ~ #site-content {
                        margin-left: option($header, 'side', 'width');
                    }
                    @at-root .hide-sideHeader & {
                        left: -#{this('side', 'width')};
                        ~ #site-content {
                            margin-left: 0;
                        }
                    }
                }
                
                @include value($value: 'right') {
                    right: 0;
                    left: auto;
                    ~ #site-content {
                        margin-right: option($header, 'side', 'width');
                    }
                    @at-root .hide-sideHeader & {
                        right: -#{this('side', 'width')};
                        ~ #site-content {
                            margin-right: 0;
                        }
                    }
                }
        
                ~ #site-content {
                    @include overwrite('top-bar', $is: 'fixed') {
                        width: calc(100% - #{option($header, 'side', 'width')});
                    }
                    @if option($top-bar, 'fixed') {
                        width: calc(100% - #{option($header, 'side', 'width')});
                    }
                }
                
                ~ .search-box {
                    width: calc(100% - #{option($header, 'side', 'width')});
                    right: 0;
                }
            
            }// media query
            
            // Toggle Side Header
            @at-root .hide-sideHeader & {
                ~ #site-content {
                    @include overwrite('top-bar', $is: 'fixed') {
                        width: 100%;
                    }
                    @if option($top-bar, 'fixed') {
                        width: 100%;
                    }
                }
            }
            
        } // option('side')
        
        // Dark Header
        //---------------------------------------------------------

        @include option('dark') {
            background-color: this('dark', 'background');
        }
        
        // Brand Header
        //---------------------------------------------------------
        
        @include modifier('brand') {
            background-color: color('brand', 'primary');
        }
        
        // Sticky Header
        //---------------------------------------------------------
        
        @include option('sticky') {
            &.fixed {
                position: fixed;
                margin-top: 0;
                top: 0;
                width: 100%;
                z-index: 12;
                background: this('sticky', 'background');
                font-size: this('sticky', 'font-size');
                @include overwrite-component('wrapper') {
                    height: this('sticky', 'height');
                }
                @include overwrite('logo') {
                    img {
                        height: this('sticky', 'logo-height');
                    }
                }
            }
        }
        
    // Components
    //-------------------------------------------------------------

        @include component('wrapper') {
            height: this('height');
            transition: height base('transition');
        }
        
    } // module

} // @mixin header