//=================================================================
// Accordions
//=================================================================

@mixin accordions($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$accordions: config((
		name                  : accordion,
		// icon (open/close)
		icon                  : test, // FontAwesome value
		icon-color            : rgba(color(greyscale, grey-3), 0.6),
		icon-active-color     : color(greyscale, white),
		// each section
		section-margin        : 0,
		// title (clickable part)
		title-bg              : transparent,
		title-color           : base(text-color),
		title-border          : 1px solid rgba(black, 0.15),
		title-radius          : 0,
		title-padding         : 1em,
		// title.active
		title-active-bg       : color(brand, primary),
		title-active-color    : color(greyscale, white),
		title-active-border   : transparent,
		title-active-radius   : 0,
		// content
		content-bg            : color(greyscale, white),
		content-color         : base(text-color),
		content-border        : 1px solid rgba(black, 0.15),
		content-radius        : 0,
		content-padding       : 1.5em
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {

	// Core Styles
	//-------------------------------------------------------------
	
		margin-bottom: base(margin);
		@include vertical-rhythm(bottom);

		> * { // each individual section

			margin: 0;
			&:not(:last-child) {
				margin-bottom: option($config, section-margin);
			}

			> *:first-child { // clickable part
				display: block;
				padding: 1em;
				margin: 0;
				background: option($config, title-bg);
				color: option($config, title-color);
				border: option($config, title-border);
				border-radius: option($config, title-radius);
				cursor: pointer;
				font-weight: normal;	
				line-height: 1;		
				transition: base(transition);
	  			backface-visibility: hidden;
				&:after { // open/close icon
					content: option($config, icon);
					font-family: FontAwesome;
					float: right;
					color: option($config, icon-color);
					transition: base(transition);
				}
			}	

			> *:last-child { // content part
				display: none;
				border: option($config, content-border);
				border-radius: option($config, content-radius);
				padding: option($config, content-padding);
				margin: 0;
				margin-top: -1px;	
				font-weight: lighter;
				background: option($config, content-bg);
				&.active {
					display: block;
				}				
			}

			&:hover, 
			&.active {
				> *:first-child { // clickable part
					background: option($config, title-active-bg);
					color: option($config, title-active-color);
					&:after { // open/close icon
						color: option($config, icon-active-color);
					}
				}
			}

			&.active {
				> *:first-child { // clickable part
					border-color: option($config, title-active-border);
					border-radius: option($config, title-active-radius);
					&:after { // open/close icon		
						transform: rotate(90deg) translateZ(0);
					}
				}
			}
			
			@if (option($config, section-margin) == 0) {
				&:not(:last-child) {
					> *:first-child, > *:last-child {
						border-bottom: 0 !important;
					}
				}
			}

		} // each individual section
	
	} // component(accordion)
	
} // @mixin accordions