//=================================================================
// Countdown
//=================================================================

@mixin countdown($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$dropdown: config((
		
		'name' : 'countdown',
		
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
		
    @include module {
        
        @include component {
            display: inline-block;
            font-size: font-size('size-8');
            color: color(greyscale, white);
            margin-left: 1rem;
            font-weight: lighter;
            position: relative;
            &:first-child {
                margin-left: 0;
            }
            &:after {
                content: attr(data-timeUnit);
                font-size: 0.7rem;
                text-transform: uppercase;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -1em;
            }
        }
		
	} // component
	
} // @mixin dropdown