//=================================================================
// Sidebar
//=================================================================

@mixin sidebar($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$scroll-wheel: config((
		name            : sidebar
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	.sidebar {
	
		ul {
            margin: 0;
        }
        
        .rating {
            color: color('greyscale', 'grey-4');
        }
	
	} // .sidebar
	
} // @mixin sidebar