//=================================================================
// Alert Bars
//=================================================================

@mixin alert-bars($config: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$alert-bars: config((
	), $config);
	
	$config: $alert-bars !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component(alert-bar) {

	// Core Styles
	//-------------------------------------------------------------
	
		padding: 0.85em;
		border: 1px solid;
		font-size: 0.9em;
		border-radius: 0.25em;
		font-weight: lighter;
		position: relative;
		border: 1px solid rgba(0,0,0,0.15);

		&:hover {
			text-decoration: none;
		}

		a {
			color: inherit;
			border-bottom: 1px dotted;
			&:hover {
				text-decoration: none;
			}
		}

	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(help) {		
			background: desaturate(
				lighten(color(alert, help), 20%)
			, 20%) !important;
			color: darken(
				desaturate(color(alert, help), 25%)
			, 25%);
		}
	
		@include modifier(info) {		
			background: lighten(color(alert, info), 20%) !important;
			color: darken(
				desaturate(color(alert, info), 15%)
			, 15%);
		}
	
		@include modifier(error) {		
			background: desaturate(
				lighten(color(alert, error), 20%)
			, 20%) !important;
			color: darken(
				desaturate(color(alert, error), 10%)
			, 10%);
		}
		
		@include modifier(success) {		
			background: lighten(color(alert, success), 20%) !important;
			color: darken(
				desaturate(color(alert, success), 15%)
			, 15%);
		}
	
	} // component(alert-bar)
	
} // @mixin alert-bars