//=================================================================
// Carousels
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$carousels: (
	
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin carousels($config: ()) {

	$carousels: config($carousels, $config) !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(carousel) {

	// Core Styles
	//-------------------------------------------------------------

		position: relative;

	// Modifiers
	//-------------------------------------------------------------

	    @include modifier(scale) {
	        margin-top: base(margin);
	        @include modifier(1) {
	            .center {
	                transform: scale(1.1);
	            }            
	        }
	        @include modifier(2) {
	            .center {
	                transform: scale(1.25);
	            }      
				.owl-stage-outer {
					padding-bottom: 3em;
				}      
	        }
	        @include modifier(3) {
	            .center {
	                transform: scale(1.4);
	            }            
	        }
	        &:before {
	            content: "\f021";
	            position: absolute;
	            top: 30%;
	            font-family: FontAwesome;
	            font-size: font-size(size-7);
	            color: color(greyscale, grey-2);
	            //animation: spin 1s linear infinite;
	            @extend %horizontal-center;
	        }
			.owl-stage-outer {
				overflow: visible;
			}
	        .owl-item {
	            z-index: 0;
				transition: base(transition);
	            &:hover {
	                cursor: pointer;
	            }
	        }
	        .center {
	            z-index: 2;
	        } 
	    }
		
		@include modifier(stage-bg) {
			.owl-stage-outer {
				background: color(greyscale, grey-3);
			}
		}
	
	    @include modifier(fade-out) {
	        .slick-slide {
	            &[aria-hidden="true"] {
	                opacity: 0;
	                transform: scale(0.75);
	                visibility: hidden;
	            }
	        }
	    }
	    
	    @include modifier(greyscale) {
	        .slick-slide {
	            filter: grayscale(1);
	            opacity: 0.4;
	            &.slick-center,
	            &:hover {
	                filter: grayscale(0);
	                opacity: 1;
	            }
	        }
	    }

	// Carousel Tools
	//-------------------------------------------------------------
	
		@at-root .slide-nav {
		
		    .slide-prev,
		    .slide-next {
		        z-index: 5;
		        @include vertical-center(absolute);
		        &:focus {
		            outline: none;
		        }
		    }
		
		    .slide-prev {
		        left: 2rem;
		    }
		
		    .slide-next {
		        right: 2rem;
		    }
		
		    &.twin-nav {
		        display: inline-block;
		        position: absolute;
		        z-index: 3;
		        transform: translateY(-50%) translateX(-50%);
		        background: color(brand, primary);
		        padding: 0.5em;
		        [class*="slide-"] {
		            position: relative;
		            left: auto;
		            right: auto;
		            transform: none;
		            margin-left: 0.25em;
		            &:first-child {
		                margin-left: 0;
		            }
		        }
		        &.strikethrough {
		            &:before {
		                content: "";
		                width: 9999px;
		                left: -4999px;
		                height: 10px;
		                background-color: color(brand, primary);
		                @include vertical-center(absolute);
		            }   
		        }
		    }
		
		} // .slide-nav
	
	} // component(carousel)
	
} // @mixin carousels

//-----------------------------------------------------------------
// Owl Carousel Styles
//-----------------------------------------------------------------

/* 
 *  Owl Carousel - Core
 */
.owl-carousel {
	
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
	
	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
	}

	.owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	
	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
	.owl-item img {
		display: block;
		width: 100%;
		-webkit-transform-style: preserve-3d;
	}
	
	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}
	
	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: -webkit-grab;
		cursor: -o-grab;
		cursor: -ms-grab;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}
	
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel{
	.animated {
		-webkit-animation-duration: 1000ms;
		animation-duration: 1000ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.owl-animated-in {
		z-index: 0;
	}
	.owl-animated-out {
		z-index: 1;
	}
	.fadeOut {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
	transition: height, 500ms, ease-in-out;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel {
	.owl-item {
		.owl-lazy {
  			opacity: 0;
			transition: opacity, 400ms, ease;
  		}
		img{
			transform-style: preserve-3d;
		}
	}
}
