//=================================================================
// Headings
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$headings: (
	
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin headings($config: ()) {

	$headings: config($headings, $config) !global;

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(heading) {

	// Core Styles
	//-------------------------------------------------------------

		line-height: 1;
		font-size: typography(sizes, base);
		transition: base(transition);

	// Sizes
	//-------------------------------------------------------------

		@include font-sizes;

	// Patterns
	//-------------------------------------------------------------

		@include modifier(heavy) {
			font-weight: bolder;
			font-weight: 900;
		}
	
		@include modifier(brand-1) {
			font-style: normal;
			color: color(brand, primary);
		}
	
		@include modifier(uppercase) {
			text-transform: uppercase;
		}
	
		@include modifier(light) {
			font-weight: lighter;
			font-weight: 100;
			font-style: normal;
		} 
	
		@include modifier(highlight) {
			margin-left: 0.3em;
			margin-right: 0.3em;
			> b {
				background: color(brand, primary);
				color: white;
				font-weight: lighter;
				padding-bottom: 1px;
				box-shadow: 0.3em 0 0 color(brand, primary), -0.3em 0 0 color(brand, primary);
				text-shadow: none;            
			}      
			@-moz-document url-prefix() {
				box-shadow: none;
				margin-left: 0;
				margin-right: 0;
				padding: 0 0.3em;
				> b {                
					box-decoration-break: clone;
				}
			}
		}
	
		@include modifier(strikethrough) {
			span {
				position: relative;
				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 75px;
					border-bottom: 1px solid color(greyscale, white);
					opacity: 0.75;
					top: 50%;
					transform: translateY(-50%) translateZ(0);
				}
				&:before {
					left: -90px;
					left: calc(-75px - 1rem);
				}
				&:after {
					right: -90px;
					right: calc(-75px - 1rem);
				}
			}
			@include modifier(brand-1) {
				span {
					&:before,
					&:after {
						border-bottom-color: color(brand, primary);
					}            
				}            
			}
		}
	
		@include modifier(spaced) {
			text-indent: 0.3em;
			&, span {            
				letter-spacing: 0.35em;
			}
			@include modifier(strikethrough) {
				span {
					&:after {
						right: calc(-75px - 1rem + 0.35em);
					}
				}
			} 
		}

		@include modifier(dotted) {
			border-bottom: 1px dotted rgba(0,0,0,0.2);
			padding-bottom: 0.75rem;
			a {
				color: inherit;
			}
		}

	// Styles
	//-------------------------------------------------------------

//		@include modifier(primary) {
//			@include extend(heavy, size-4, uppercase);
//		}  

	} // component(heading)

	//-------------------------------------------------------------
	// Heading Group
	//-------------------------------------------------------------

	@include component(hgroup) {

	// Core Styles
	//-------------------------------------------------------------
	
		margin-bottom: base(margin);
		font-size: 1rem;
		position: relative;
		background-size: cover;
		@include vertical-rhythm(bottom);

		@include overwrite(heading) {
			margin: 0.5em 0;
			line-height: 0.8;
			@include vertical-rhythm;
		}

		.lede {
			color: color(greyscale, grey-4);
		}

	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(dots) {
			position: relative;
			margin-bottom: 3em;
			&:after {
				content: "• • •";
				position: absolute;
				color: rgba(color(greyscale, black), 0.4);
				font-size: 24px;
				font-weight: 600;
				bottom: -2.25em;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
	
		@include modifier(block) {
			padding: 6em 0;
			margin-bottom: 0;
			&.has-icon {
				padding-bottom: 5em;
			}
		}
	
		@include modifier(large) {
			margin-bottom: (base(margin) * 2);
			@include vertical-rhythm(bottom);
		}
	
		@include modifier(xlarge) {
			margin-bottom: (base(margin) * 3);
			@include vertical-rhythm(bottom);
		}
	
	} // component(hgroup)

	//-------------------------------------------------------------
	// Title Icon
	//-------------------------------------------------------------
	
	.title-icon {
	
		display: inline-block;
		position: relative;
		font-size: font-size(size-5);
	
		.fa {
			position: relative;
			width: 0.85em;
			height: 0.85em;
			line-height: 0.85em;
			font-size: font-size(size-4);
			color: color(greyscale, grey-5);
			border: 1px solid color(brand, primary);
			border-radius: 50%;
			&:before {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	
		&:before,
		&:after {
			content: "";
			width: 2em;
			border-bottom: 1px solid color(brand, primary);
			@include vertical-center(absolute);
		}
	
		&:before {
		   left: -2em;
		}
		
		&:after {
		   right: -2em;
		}
	
	} // .title-icon
	
} // @mixin headings