//=================================================================
// Wells
//=================================================================

@mixin wells($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$wells: config((
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component(well) {
		
	// Core Styles
	//-------------------------------------------------------------
	
	    background-color: lighten(color(greyscale, grey-1), 5%);
	    border: 1px solid rgba(color(greyscale, black), 0.15);
	    border-radius: 0.6em;
	    padding: 1rem;
	    position: relative;
		
	} // component(well)
		
} // @mixin wells