//=================================================================
// Images
//=================================================================

@mixin images($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$images: config((
		name            : image
	), $custom);

	//-------------------------------------------------------------
	// Responsive Images
	//-------------------------------------------------------------

	img {
		max-width: 100%;
		height: auto;
		display: block;
	} 

	//-------------------------------------------------------------
	// Thumbnails
	//-------------------------------------------------------------

	.thumbnail {
		border: 5px solid white;
		box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
		display: block;
	}

	//-------------------------------------------------------------
	// Shaped Images
	//-------------------------------------------------------------

	.square, 
	.circle {	
		position: relative;
		height: 0;
		padding-top: 100%;
		overflow: hidden;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			display: block;
			height: 100%;
			width: auto;
			max-width: none;
		}
	}
	
	.circle {
		border-radius: 50%;
	}

	//-------------------------------------------------------------
	// Background Image
	//-------------------------------------------------------------
	
	@include component(bg-img) {
	
		background-image: url("#{$asset-path}/images/stock-1-bg.jpg");
		background-size: cover;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		transition: 0.4s;
	
		@include modifier(scale-rotate) {
			&:hover,
			[class*="s-block-"]:hover & {
				transform: scale(1.3) rotate(7.5deg);
			}
		}
	
	} // component(bg-image)

	//-------------------------------------------------------------
	// Desktop Graphic
	//-------------------------------------------------------------
	
	@include component(desktop-graphic) {

		position: relative;
		cursor: pointer;

		img {
			position: relative;
			z-index: 1;		
		}

		div {
			position: absolute;
			background-size: 100%;
			background-position: center 0%;
			transition: 3s;
			height: 58.25%;
			width: 92.2%;
			top: 3.95%;
			left: 3.9%;
			z-index: 0;		
		}
	
		@include modifier(scroll) {
			&:hover {
				div {
					background-position: center 100%;	
					transition: 20s;		
				}
			}
		}
	
	} // component(desktop-graphic)

	//-------------------------------------------------------------
	// Mobile Graphic
	//-------------------------------------------------------------
	
	@include component(mobile-graphic) {
	
		background-size: 100% 100%;
		padding: 30% 8%;
		// fix for animations
		transform: translateZ(0);
	
	// Mobile Colors
	//-------------------------------------------------------------
	
		$phone-colors: (
			blue, green, purple, red, white, yellow
		);
	
		@each $color in $phone-colors {
			@include modifier(#{$color}) {
				background-image: url("#{$asset-path}/images/mobile-base-#{$color}.png");
			}
		}
		
		//Default
		background-image: url("#{$asset-path}/images/mobile-base-blue.png");
	
	} // component(mobile-graphic)
		
	//-------------------------------------------------------------
	// Horizontal & Vertical Centered Images
	//-------------------------------------------------------------
	
	.center-xy {
		position: relative;
		> img {
			@include vertical-center(absolute);
			@extend %horizontal-center;
		}
	}
	
} // @mixin images