//=================================================================
// Footer
//=================================================================

@mixin footer($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$footer: config((
		name            : footer
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component {

	// Core Styles
	//-------------------------------------------------------------
	
		text-align: center;	
		padding: 2em 0;
		background: color(greyscale, grey-5);
		color: color(greyscale, white);
		
		a {
			color: color(greyscale, white);
		}
		
	// Sub-Components
	//-------------------------------------------------------------
	
		@include sub-component(wrapper, static) {
			@include context((min-width: breakpoint(break-2))) {		
				display: table;
				width: 100%;
				text-align: left;
			}
		}
		
		@include sub-component(copyright) {
			h4 {
				font-weight: lighter;
			}
		}
	
		@include sub-component(nav, static) {
			ul {
			    @extend %list-reset;
			}
		    li {
			    display: inline-block;
			    &:not(:last-child) {
					margin-right: 1em;
			    }
		    }
			@include context((min-width: breakpoint(break-2))) {
				text-align: right;
			}
		}
		
		@include sub-components((nav, copyright), static) {
			@include context((min-width: breakpoint(break-2))) {
				display: table-cell;
				vertical-align: middle;
			}
		}
	
	} // component(footer)
	
} // @mixin footer