//=================================================================
// Blockquotes
//=================================================================

@mixin blockquotes($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$blockquotes: config((
		'name'                  : 'blockquote',
        'font'                  : typography(typefaces, secondary),
        'icon-size'             : 1.75rem,
        'pull-width'            : 340px,
        'pull-max-width'        : 50%,
        'pull-font-style'       : italic,
        'pull-margin'           : 1em,
        'bubble-padding'        : 1em 3em,
        'bubble-bg-color'       : color(brand, primary),
        'bubble-radius'         : 0.6em,
        'bubble-color'          : color(greyscale, white),
        'testimonial-icon-size' : 1.5em,
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module {

	// Core Styles
	//-------------------------------------------------------------
			
		margin: 0;
		border: 0;
		padding: 0 2.5em;
        position: relative;
		font-family: typography(typefaces, secondary);
		
	// Modifiers
	//-------------------------------------------------------------
	
		@include modifier(testimonial) {
			
			padding: 0;
			
			@include overwrite-component(content) {
				&:before,
				&:after {
					font-size: 1.5rem;
				}
			}
			
		}
        
        @include modifiers(('pull-left', 'pull-right')) {
            margin: 1em;
            width: 340px;
            max-width: 50%;
            text-align: left;
            font-style: italic;
            @include nested-modifier('top') {
                margin-top: 0;
            }
            @include nested-modifier('bottom') {
                margin-bottom: 0;
            }
        }
        
        @include modifier('pull-left') {
            float: left;
            margin-left: 0;
        }
        
        @include modifier('pull-right') {
            float: right;
            margin-right: 0;
        }
		
	// Components
	//-------------------------------------------------------------
	
		@include component(bubble) {
            position: relative;
			padding: 1em 3em;
			background: color(brand, primary);
			border-radius: 0.6em;
			color: color(greyscale, white);
			@include triangle((
				position : top,
				color    : color(brand, primary)
			));
            @include overwrite-component('content') {
                position: relative;
                &:before {
                    left: -1.35em;
                }
                &:after {
                    right: -1.35em;
                }
            }
			&:after {
				left: 20%;
			}
		}
		
		@include components((avatar, cite)) {
			display: inline-block;
			vertical-align: middle;
		}
		
		@include component(content) {
            position: relative;
            display: inline-block;
			&:before,
			&:after {
				position: absolute;
				font-family: FontAwesome;
				font-size: 1.75rem;
				color: rgba(0,0,0,0.3);
			}
			&:before {
				content: "\f10d";
				top: -0.2em;
				left: -1.25em;
			}
			&:after {
				content: "\f10e";
				bottom: -0.2em;
				right: -1em;
			}
			@include overwrite-component(cite, $special: 'adjacent-sibling') {
				margin-top: 1.5em;
			}
		}
		
		@include component(avatar) {
			@include extend($parent: thumbnail, $modifiers: (profile, round));
			@include overwrite-component(content, $special: 'adjacent-sibling') {
				margin-top: 1.5em;
			}
		}
		
		@include component(cite) {
			margin-left: 0.5em;
			color: color(greyscale, white);
		}
		
		@include component(footer) {
			margin-top: 1em;			
		}
			
	} // component
    
    q {
        &:before, &:after {
            content: "";
        }
    }
	
} // @mixin blockquotes