//=================================================================
// Corner Ribbons
//=================================================================

@mixin corner-ribbons($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$corner-ribbons: config((
		name            : corner-ribbon
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component() {
		
		background-size: cover;
		position: absolute;
		pointer-events: none;
		height: 7em;
		width: 7em;
		top: -0.6em;
		left: -0.65em;
		font-size: 1em;
		&:before {
			content: attr(data-ribbon);
			position: absolute;
			height: 100%;
			width: 100%;
			text-align: center;
			transform: rotate(-45deg);
			color: white;
			font-weight: bold;
			left: 13%;
    		top: 13%;
			font-size: 1em;
		}
		
	//-------------------------------------------------------------
	// Sizes
	//-------------------------------------------------------------
	
		@include modifier(small) {
			font-size: 0.7em;
		}
		
	//-------------------------------------------------------------
	// Colors
	//-------------------------------------------------------------
	
		$ribbon-colors: (
			green, pink, purple
		);
	
		@each $color in $ribbon-colors {
			@include modifier(#{$color}) {
				background-image: url("#{$asset-path}images/corner-ribbons/corner-ribbon-#{$color}.png");
			}
		}
		
		// default color
		@include extend(green);
		
	} // component
	
	
} // @mixin corner-ribbons