//=================================================================
// Modals
//=================================================================

@mixin modals($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$modals: config((
		name            : modal,
		output-JSON     : true
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
		
		@include vertical-center(absolute);
		@extend %horizontal-center;
		width: 650px;
		max-width: 90%;
		padding: 2em;
		background: color(greyscale, grey-1);
		position: fixed;
		z-index: 9;
		transition: base(transition);
		// hide by default
		opacity: 0;
		visibility: hidden;
		
		@include modifier(visible) {
			opacity: 1;
			visibility: visible;
		}
		
	}

} // @mixin modals