/******************************************************************

Kayzen
Made by @esr360

******************************************************************/

// Asset Path
$asset-path : "../.." !default;

// Output configuration data to JSON
$to-JSON : true;

// Theme
$theme : 'Kayzen';

//-----------------------------------------------------------------
// Vendor Files
//-----------------------------------------------------------------

$fa-font-path: "#{$asset-path}/fonts";
    
@import "vendor/normalize-scss/sass/normalize";
@import "vendor/Kayzen-GS/src/kayzen-gs";
@import "vendor/Magnific-Popup/src/css/main.scss";
@import "vendor/Owl-Carousel/src/scss/owl.animate";
@import "vendor/Owl-Carousel/src/scss/owl.autoheight";
@import "vendor/Owl-Carousel/src/scss/owl.core";
@import "vendor/Owl-Carousel/src/scss/owl.lazyload";
@import "vendor/Owl-Carousel/src/scss/owl.video";
@import "vendor/Font-Awesome/scss/font-awesome";
@import "vendor/Aloads/scss/preloaders";
@import "vendor/Modular/src/scss/modular";
@import "vendor/SassyJSON/src/SassyJSON";

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@import "modules/utilities/font-sizes/font-sizes";
@import "modules/utilities/tools/tools";
@import "modules/utilities/grid/grid";
@import "modules/utilities/color-palette/color-palette";
@import "modules/utilities/typography/typography";
@import "modules/utilities/core/core";
@import "modules/utilities/masonry-grid/masonry-grid";
@import "modules/utilities/helpers/helpers";
@import "modules/utilities/print/print";
@import "modules/utilities/sections/sections";

//-----------------------------------------------------------------
// Elements
//-----------------------------------------------------------------

@import "modules/elements/accordions/accordions";
@import "modules/elements/alert-bars/alert-bars";
@import "modules/elements/buttons/buttons";
@import "modules/elements/blockquotes/blockquotes";
@import "modules/elements/carousels/carousels";
@import "modules/elements/corner-ribbons/corner-ribbons";
@import "modules/elements/forms/forms";
@import "modules/elements/headings/headings";
@import "modules/elements/images/images";
@import "modules/elements/lists/lists";
@import "modules/elements/modals/modals";
@import "modules/elements/notifications/notifications";
@import "modules/elements/price-charts/price-charts";
@import "modules/elements/progress-bars/progress-bars";
@import "modules/elements/tables/tables";
@import "modules/elements/tabs/tabs";
@import "modules/elements/thumbnails/thumbnails";
@import "modules/elements/tooltips/tooltips";
@import "modules/elements/wells/wells";
@import "modules/elements/widgets/widgets";

//-----------------------------------------------------------------
// Objects
//-----------------------------------------------------------------

@import "modules/objects/billboard/billboard";
@import "modules/objects/breadcrumb/breadcrumb";
@import "modules/objects/countdown/countdown";
@import "modules/objects/earth-slider/earth-slider";
@import "modules/objects/flyout-nav/flyout-nav";
@import "modules/objects/footer/footer";
@import "modules/objects/google-map/google-map";
@import "modules/objects/header/header";
@import "modules/objects/logo/logo";
@import "modules/objects/mega-menu/mega-menu";
@import "modules/objects/navigation/navigation";
@import "modules/objects/dropdown/dropdown";
@import "modules/objects/page-overview/page-overview";
@import "modules/objects/preloader/preloader";
@import "modules/objects/scroll-wheel/scroll-wheel";
@import "modules/objects/scroll-top/scroll-top";
@import "modules/objects/search/search";
@import "modules/objects/side-nav/side-nav";
@import "modules/objects/sidebar/sidebar";
@import "modules/objects/site-overlay/site-overlay";
@import "modules/objects/top-bar/top-bar";
@import "modules/objects/twitter-feed/twitter-feed";

//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

@import "themes/Agenda/agenda";
@import "themes/Kayzen/kayzen";
@import "themes/Nexus/nexus";

// Output all configuration data to JSON only if setting exists and 
// setting is "true"
@if variable-exists('to-JSON') and $to-JSON {
	@include json-encode($_modules);
}