//=================================================================
// Header
//=================================================================
	
@mixin header($custom: ()) {
	
	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$header: config((
		name                 : app-header,
		output-JSON          : true,
		// Options
		bg                   : base(background),
		height               : 100px,
		font-size            : 1em,
		z-index              : 5,
		// Settings
		bar                  : false,
		absolute             : (
			default          : false,
			top-position     : 0
		),
		dark                 : (
			default          : false,
			bg               : color(greyscale, grey-5)
		),
		side                 : (
			default          : false,
			width            : 350px,
			box-shadow       : none,
			container-width  : 100%
		),
		sticky               : (
			default          : false,
			bg               : color(greyscale, grey-5),
			height           : 70px,
			logo-height      : 28px,
			font-size        : font-size(size-2)
		)
	), $custom) !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component {

	// Core Styles
	//-------------------------------------------------------------
	
		background-color: option($config, bg);
		font-size: option($config, font-size);
		
		@if option($top-bar, fixed) {
			margin-top: option($top-bar, height);
		}

	// Settings
	//-------------------------------------------------------------
	
		// Header Bar
		//---------------------------------------------------------
		
		@include setting(bar) {
			@include sub-component(wrapper, static) {	
				display: table;
				width: 100%;
			}
			@include overwrite((logo, navigation)) {
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		// Absolute Position Header
		//---------------------------------------------------------
		
		@include setting(absolute) {
			position: absolute;
			margin-top: option($config, absolute, top-position);
			z-index: option($config, z-index);
			width: 100%;
		}

		// Side Header
		//---------------------------------------------------------
	
		@include setting(side) {
			
			width: option($config, 'side', 'width');
			box-shadow: option($config, 'side', 'box-shadow');
			
			// Side Navigation
			@extend #{$side-nav-selector};
			
			@include overwrite(container) {
				max-width: option($config, 'side', 'container-width');
			}
			
			@include overwrite(('logo', 'navigation')) {
				display: block;
			}
			
			@include option(left) {
				left: 0;
				right: auto;
				+ #site-content {
					margin-left: option($config, 'side', 'width');
				}
			}
			
			@include option(right) {
				right: 0;
				left: auto;
				+ #site-content {
					margin-right: option($config, 'side', 'width');
				}
			}
			
		} // setting(side)
		
		
		// Dark Header
		//---------------------------------------------------------
	
		@include setting(dark) {
			background-color: option($config, dark, bg);
		}
		
		// Sticky Header
		//---------------------------------------------------------
		
		@include setting(sticky) {
			&.fixed {
				position: fixed;
				margin-top: 0;
				top: 0;
				width: 100%;
				z-index: 12;
				background: option($config, sticky, bg);
				font-size: option($config, sticky, font-size);
				@include overwrite-sub(wrapper) {
					height: option($config, sticky, height);
				}
				@include overwrite(logo) {
					img {
						height: option($config, sticky, logo-height);
					}
				}
				@include modifier(absolute, "not") {
					@include overwrite(billboard, $special: adjacent-sibling) {
						margin-top: option($config, sticky, height);
					}
				}
			}
		}
		
	// Sub-Components
	//-------------------------------------------------------------

		@include sub-component(wrapper, static) {
			height: option($config, height);
			transition: height base(transition);
		}
		
	} // component(app-header)

} // @mixin header