//=================================================================
// Kayzen
//=================================================================

@if $theme == Kayzen {

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

	@include palettes((
		brand: (
			primary : #9B58B5
		)
	));
	
	@include typography;
	@include grid;
	@include base;
	@include tools;
	@include masonry-grid;
	@include helpers;

//-----------------------------------------------------------------
// Elements
//-----------------------------------------------------------------

	@include accordions;
	@include alert-bars;
	@include blockquotes;
	@include buttons;
	@include carousels;
	@include corner-ribbons;
	@include fonts;
	@include forms;
	@include headings;
	@include icons;
	@include images;
	@include lists;
	@include modals;
	@include price-charts;
	@include progress-bars;
	@include tables;
	@include tabs;
	@include thumbnails;
	@include tooltips;
	@include wells;
	@include widgets;

//-----------------------------------------------------------------
// Objects
//-----------------------------------------------------------------

	@include top-bar;
	@include breadcrumb;
	@include side-nav;
	@include countdown;
	@include earth-slider;
	@include flyout-nav;
	@include flyout-trigger;
	@include footer;
	@include google-map;
	
	@include header((
		bg        : transparent,
		font-size : 0.9em,
		dark      : (
			bg    : rgba(black, 0.3),
		)
	));
	
	@include logo;
	
	@include navigation((
		link-color : color(greyscale, white)
	));
	
	@include mega-menu;
	@include dropdown;
	@include page-overview;
	@include scroll-top;
	@include search;
	@include scroll-wheel;
	@include sidebar;
	@include site-overlay;
	@include twitter-feed;
	
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

	@include sections;
	
	@include billboard((
		overlay       : true,
		bg-image      : "#{$asset-path}/images/billboard-1.jpg",
		wrapper-width : breakpoint(break-3)
	));

} // Kayzen