//=================================================================
// Masonry Grid
//=================================================================

@mixin masonry-grid($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$masonry-grid: config((
		'name'            : 'masonry-grid',
        'spacing'         : 4px,
        'background'      : #eeeeee
	), $custom);

	//-------------------------------------------------------------
	// Core Styles
	//-------------------------------------------------------------
    
    .tiles {
        @extend .object;
        position: relative;
        display: block;
        width: calc(100% + (#{option($config, 'spacing')} * 2));
        left: - option($config, 'spacing');
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .tile {
        position: relative;
        float: left;
        overflow: hidden;
        &-box {
            width: 50%;
            &:after {
                content: "";
                padding-top: 100%;
                display: table;
            }
        }
        &-tall {
            width: 50%;
            &:after {
                content: "";
                display: block;
                padding-top: 200%;
            }
        }
        &-rec {
            width: 100%;
            &:after {
                content: "";
                display: block;
                padding-top: 50%;
            }
        }
        &-img {
            top: this('spacing');
            right: this('spacing');
            bottom: this('spacing');
            left: this('spacing');
            position: absolute;
            transition: base('transition');
            background-size: cover;
            background-position: center center;
            background-color: this('background');
            &:hover {
                opacity: 0.6;
            }
        }
    }
    
}