//=================================================================
// Alert Bars
//=================================================================

@mixin alert-bars($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$alert-bars: config((
		'name'          : 'alert-bar',
        'border-radius' : 0.25em,
        'border-width'  : 1px,
        'padding'       : 0.85em,
        'size'          : 0.9em,
        'weight'        : lighter
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module(alert-bar) {

	// Core Styles
	//-------------------------------------------------------------
	
		padding: 0.85em;
		border: 1px solid;
		border-color: rgba(0,0,0,0.15);
		font-size: 0.9em;
		border-radius: 0.25em;
		font-weight: lighter;
		position: relative;

		&:hover {
			text-decoration: none;
		}

		a {
			border-bottom: 1px dotted;
			&:hover {
				text-decoration: none;
			}
		}
        
        a, b {
            color: inherit;
        }

	// Modifiers
	//-------------------------------------------------------------
	
		@each $name, $color in palette(alert) {
            @include modifier($name) {
                background-color: $color;
                color: alert-text($color);
                border-color: alert-border($color);
            }
        }
	
	} // component(alert-bar)
	
} // @mixin alert-bars

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@function alert-text($color) {
    @return desaturate(darken($color, 50%), 25%);
}   
  
@function alert-border($color) {
    @return desaturate(darken($color, 30%), 25%);
}