//=================================================================
// Sidebar
//=================================================================

@mixin sidebar($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$sidebar: config((
		'name'         : 'sidebar',
        'rating-color' : color('greyscale', 'grey-4')
	), $custom);
	
	//-------------------------------------------------------------
	// Module
	//-------------------------------------------------------------
	
	@include module {
	
		ul {
            margin: 0;
        }
        
        .rating {
            color: this('rating-color');
        }
	
	} // module
	
} // @mixin sidebar