//=================================================================
// Flyout Navigation
//=================================================================

@import "flyout-trigger";

@mixin flyout-nav($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$flyout-nav: config((
		name                : flyout-nav,
		output-JSON         : true,
		// Options
		width               : 300px,
		font-size           : font-size(base),
		box-shadow          : 1px 0 25px 0px rgba(0, 0, 0, 0.4),
		// Settings
		collapsible         : (
			default         : true,
			open-by-default : true
		),
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {
	
		// Side Navigation
		@extend #{$side-nav-selector};
		
		font-size: option($config, font-size);
	    left: -#{option($config, width)};
	    box-shadow: option($config, box-shadow);
		
		// Reveal the flyout navigation
	    .flyout-active & {
	    	left: 0;
	    }
		
	}
	
	// site-overlay
	.flyout-visible {
		z-index: 13 !important;
	}
	
	
} // mixin flyout-nav()