//=================================================================
// Flyout Trigger
//=================================================================

@mixin flyout-trigger($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$site-overlay: config((
		name            : flyout-trigger,
		top             : 0.85rem,
		bottom          : auto,
		left            : auto,
		right           : 0.85rem,
		z-index         : 14
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module {
		
		position: absolute;
		top: 0.85rem;
		right: 0.85rem;
		z-index: 14;
	    cursor: pointer;
		.fa {
			transition: base(transition);
			transform-origin: 50% 0;
		}
		.nav-close {
			transform: scale(0) translateY(-50%);
		}
		&.active {
			.nav-open {
				transform: scale(0) translateY(-50%);
			}
			.nav-close {
				transform: scale(1) translateY(-50%);
			}
		}
		
	} // component()
		
} // @mixin flyout-trigger