//=================================================================
// Wells
//=================================================================

@mixin wells($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$wells: config((
		'name'             : 'well',
        'background'       : white,
        'border'           : 1px solid rgba(black, 0.15),
        'radius'           : 0.4em,
        'padding'          : 1em,
        'color'            : typography('colors', 'base'),
        'dark-background'  : rgba(black, 0.4),
        'dark-border'      : none,
        'dark-color'       : white,
        'deep-padding'     : 1.5em 2em,
        'comment-padding'  : 1.5em,
        'thumb-height'     : 76px,
        'hover-background' : color('brand', 'primary'),
        'hover-color'      : color('greyscale', 'white')
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module {
		
	// Core Styles
	//-------------------------------------------------------------
	
	    background: white;
	    border: 1px solid rgba(black, 0.15);
	    border-radius: 0.4em;
	    padding: 1em;
        color: typography('colors', 'base');
	    position: relative;
		
	// Modifiers
	//-------------------------------------------------------------
		
		@include modifier('dark') {
			background: rgba(black, 0.4);
			border: none;
            color: white;
		}
        
        @include modifier('deep') {
            padding: 1.5em 2em;
        }
        
        @include modifier('comment') {
            position: relative;
	        padding: 1.5em;
            &:before {
                content: "";
                position: absolute;
                top: calc(50% + 4px);
                left: -8px;
                height: 14px;
                width: 14px;
                transform: rotate(45deg) translate(-50%, -50%);
                background: lighten(color('greyscale', 'grey-1'), 5%);
	            border-left: 1px solid rgba(black, 0.15);
	            border-bottom: 1px solid rgba(black, 0.15);
            }
        }
        
        @include modifier('thumb') {
            height: 76px;
            display: block;
            transition: background-color base(transition);
            &:hover {
                background: color('brand', 'primary');
                color: color('greyscale', 'white');
            }
        }
        
	// Components
	//-------------------------------------------------------------
    
        @include component('content') {
		    @include vertical-center;
        }
		
	} // module
		
} // @mixin wells