//=================================================================
// Wells
//=================================================================

@mixin wells($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$wells: config((
		name            : well
	), $custom);

	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include module {
		
	// Core Styles
	//-------------------------------------------------------------
	
	    background: lighten(color(greyscale, grey-1), 5%);
	    border: 1px solid rgba(black, 0.15);
	    border-radius: 0.4em;
	    padding: 1em;
	    position: relative;
		transition: base(transition);
		
	// Modifiers
	//-------------------------------------------------------------
		
		@include modifier(dark) {
			background: rgba(black, 0.4);
			border: none;
		}
        
        @include modifier('deep') {
            padding: 1.5em 2em;
        }
        
        @include modifier('comment') {
            position: relative;
	        padding: 1.5em;
            &:before {
                content: "";
                position: absolute;
                top: calc(50% + 4px);
                left: -8px;
                height: 14px;
                width: 14px;
                transform: rotate(45deg) translate(-50%, -50%);
                background: lighten(color(greyscale, grey-1), 5%);
	            border-left: 1px solid rgba(black, 0.15);
	            border-bottom: 1px solid rgba(black, 0.15);
            }
        }
		
	} // component
		
} // @mixin wells