//=================================================================
// Dropdown
//=================================================================

@mixin dropdown($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$dropdown: config((
		name                  : dropdown,
		text-align            : left,
		width                 : 175px,
		top-position          : 0,
		dropdown-icon         : "\f105",
		low-level-icon        : "\f105",
		link-color            : color(greyscale, grey-4),
		link-bg-color         : color(greyscale, grey-1),
		link-hover-color      : color(greyscale, white),
		link-hover-bg-color   : color(brand, primary),
		link-active-color     : navigation(a-has-child-color),
		link-active-bg-color  : navigation(a-has-child-color)
	), $custom) !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {

		// parent list
		ul {
			
			// dropdown list
			ul {
			
				@extend %list-reset;
				min-width: map-get($dropdown, width);
				text-align: map-get($dropdown, text-align);
				transition: base(transition);
				position: absolute;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
			
				li {
			
					position: relative;
			
					a {
						background: map-get($dropdown, link-bg-color);
						color: map-get($dropdown, link-color);
						border-top: 1px solid color(greyscale, grey-2); 
						&:before, 
						&:after {
							font-family: FontAwesome;		
						}
						&:not(:only-child) {
							&:after {
								content: map-get($dropdown, dropdown-icon);
								right: 0.75em;
								@include vertical-center(absolute);
							}
						}
					}
			
					// remove top border on first item
					&:first-child {
						> a {
							border-top-color: transparent;
						}
					}
					
					// remove bottom border on last item
					&:last-child {
						> a {
							//border-bottom-color: transparent;
						}
					}
			
					&:hover {
						> a {
							color: map-get($dropdown, link-hover-color);
							background: map-get($dropdown, link-hover-bg-color);
							border-color: color(brand, primary);
						}
						+ li {
							a {
								border-top-color: color(greyscale, grey-1);
							}
						}
					}
			
					&.active {
						> a {
							color: map-get($dropdown, link-active-color);
							background: map-get($dropdown, link-active-bg-color);
						}
					}
			
					ul {
						left: 100%;
						top: 0;
						li {
							a {
								border-left: 1px solid color(greyscale, grey-2);
							}
						}
					}
			
				} // end li
			
			} // end ul
			
			// first level only
			> ul {
				padding-top: map-get($dropdown, top-position);
			}
		
		} // ul (dropdown)
		
	} // ul (parent)
	
} // @mixin dropdown