//=================================================================
// Page Overview
//=================================================================

@mixin page-overview($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$page-overview: config((
		name            : page-overview,
		position        : left
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component {
		
	// Core Styles
	//-------------------------------------------------------------
		
		position: fixed;
		z-index: 9;
			
		@include overwrite-sub(group, $parent: heading) {
			display: none;
		}
		
		@include overwrite(icon) {
			margin-bottom: 0;
			font-size: 1.5rem;
		}
		
	// Modifiers
	//-------------------------------------------------------------
	
		@include modifiers((left, right)) {
			top: 25%;
			@include overwrite-sub(item) {	
				&:after {
					top: 0;
					height: 100%;
					width: 0.2em;
				}
			}
		}
		
		@include modifier(left) {
			left: 0;
			@include overwrite-sub(item) {
				&:after {
					right: -0.2em;
				}
			}
		}
		
		@include modifier(right) {
			right: 0;
			@include overwrite-sub(item) {
				&:after {
					left: -0.2em;
				}
			}
		}
		
		@include modifiers((top, bottom)) {
			left: 50%;
			transform: translateX(-50%);		
			@include overwrite-sub(item) {
				float: left;
				&:after {
					left: 0;
					height: 0.2em;
					width: 100%;
				}
			}
		}
		
		@include modifier(top) {
			top: 0;
			@include overwrite-sub(item) {
				&:after {
					bottom: -0.2em;
				}
			}
		}
		
		@include modifier(bottom) {
			bottom: 0;
			@include overwrite-sub(item) {
				&:after {
					top: -0.2em;
				}
			}
		}
		
	// Sub-Components
	//-------------------------------------------------------------
	
		@include sub-component(item) {
			position: relative;
			background: color(greyscale, white);
			display: block;	
			padding: 0.5em;
			box-shadow: 0px 0px 1px rgba(black, 0.2);
			&:after {
				content: "";
				background-color: color(brand, primary);
				position: absolute;
			}
			&.active,
			&:hover {
				background: color(brand, primary);
				[class*="_icon"] {
					color: white;
				}
			}
		}
		
	} // component
	
} // @mixin page-overview