//=================================================================
// Base
//=================================================================

@mixin base($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$base: config((
		name             : base,
		background       : color(greyscale, grey-1),
		font-family      : typography(typefaces, primary),
		text-color       : typography(colors, base),
		font-size        : typography(sizes, base),
		margin           : 2rem,
		line-height      : 1.4,
		radius           : 0.4em,
		oval-radius      : 1.5em,
		transition       : 0.4s
	), $custom) !global;

	//-------------------------------------------------------------
	// General
	//-------------------------------------------------------------
	
	html, body {
		padding: 0;
		margin: 0;
	    height: 100%;
	}
	
	html {
	    overflow-x: hidden;
	}
	
	body {
		background: base(background);
	    font-family: base(font-family);
	    color: base(text-color);
	    font-size: base(font-size);
	    line-height: base(line-height);
	}

	// animate data-manipulate.js elements
	[data-reveal],
	[data-reverse-reveal],
	[data-hover] {
		transition: base(transition);
	}

	//-------------------------------------------------------------
	// Structure
	//-------------------------------------------------------------
	
	@include component(container) {
	
        width: option($grid, options, base-width);
        max-width: option($grid, options, max-width);
        margin: 0 auto;
		position: relative;
	
	    @include modifier(small) {
	        width: option($grid, options, small-width);
	    }
	
	    @include modifier(full) {
	        width: option($grid, options, full-width);
	        max-width: option($grid, options, full-width);
	    }
		
		@include modifier(section) {
			padding: 4em 0;
		}
	
	} // component(container)

	.wrapper {
	    padding: 0 option($grid, options, gutter);
	}
	
	.site-overlay {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    cursor: pointer;
	    background: rgba(0,0,0,0.4);
	    transform: translateZ(0);
	    transition: base(transition);
	    z-index: 10;
	    visibility: hidden;
	    opacity: 0;
	    &.visible {
	        visibility: visible;
	        opacity: 1;
			pointer-events: none;
	    }
	}

	//-------------------------------------------------------------
	// Layout
	//-------------------------------------------------------------
	
	* {
	    &, &:before, &:after {
	        box-sizing: border-box;
	    }
	}
	
	h1, h2, h3, h4, h5, h6, 
	p, ul, ol, 
	fieldset, legend, figure, table, 
	pre, hr {
	    margin: base(margin) 0;
	    @include vertical-rhythm;
	}
	
	::selection {
		background-color: color(brand, primary);
		color: color(greyscale, white);
		text-shadow: none;
	}

} // @mixin base

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@function base($key) {
    @return map-get($base, $key);
}