//=================================================================
// Accordions
//=================================================================

@mixin accordions($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$accordions: config((
		name                : accordion,
		// icon (open/close)
		icon                : "\f138",
		icon-color          : color(greyscale, grey-3),
		icon-opacity        : 0.4,
		icon-active-color   : color(greyscale, white),
		// title (clickable part)
		title-bg            : transparent,
		title-color         : typograhy(colors, base),
		title-border        : 1px solid rgba(black, 0.15),
		title-padding       : 1em,
		// title.active
		title-active-bg     : color(brand, primary),
		title-active-color  : color(greyscale, white),
		title-active-border : color(brand, primary),
		// content
		content-bg          : color(greyscale, white),
		content-color       : typograhy(colors, base),
		content-border      : 1px solid rgba(black, 0.15),
		content-padding     : 1.5em
	), $custom);
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	@include component {

	// Core Styles
	//-------------------------------------------------------------
	
		margin-bottom: base(margin);
		border-bottom: map-get($config, content-border);
		@include vertical-rhythm(bottom);

		> * { // each individual section

			margin: 0;

			> *:first-child { // clickable part
				display: block;
				padding: 1em;
				margin: 0;
				border: map-get($config, title-border);
				border-bottom: none;
				cursor: pointer;
				font-weight: normal;	
				line-height: 1;		
				transition: base(transition);
	  			backface-visibility: hidden;
				&:after { // open/close icon
					content: map-get($config, icon);
					font-family: FontAwesome;
					opacity: map-get($config, icon-opacity);
					float: right;
					color: map-get($config, icon-color);
					transition: base(transition);
				}
			}	

			> *:last-child { // content part
				display: none;
				border: map-get($config, content-border);
				border-bottom: none;
				padding: map-get($config, content-padding);
				margin: 0;
				margin-top: -1px;	
				font-weight: lighter;
				background: map-get($config, content-bg);
				&.active {
					display: block;
				}				
			}

			&:hover, 
			&.active {
				> *:first-child { // clickable part
					background: map-get($config, title-active-bg);
					color: map-get($config, title-active-color);
					&:after { // open/close icon
						opacity: 1;
						color: map-get($config, icon-active-color);
					}
				}
			}

			&.active {
				> *:first-child { // clickable part
					border-color: map-get($config, title-active-border);
					&:after { // open/close icon		
						transform: rotate(90deg) translateZ(0);
					}
				}
			}

		} // each individual section
	
	} // component(accordion)
	
} // @mixin accordions