//=================================================================
// Navigation
// Used in: "modules/_navigation.scss"
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$dropdown-text-align            : left !default;
$dropdown-width                 : 175px !default;
$dropdown-top-position          : 0 !default;
$dropdown-dropdown-icon         : "\f105" !default;
$dropdown-low-level-icon        : $dropdown-dropdown-icon !default;

$dropdown-a-color               : $nav-a-has-child-color !default;
$dropdown-a-bg-color            : $nav-a-has-child-bg !default;

$dropdown-a-border-left         : $nav-a-border-width solid darken($dropdown-a-bg-color, 5%) !default;
$dropdown-a-border-bottom       : $dropdown-a-border-left !default;

$dropdown-a-hover-color         : $dropdown-a-color !default;
$dropdown-a-hover-bg-color      : $dropdown-a-bg-color !default;
$dropdown-a-hover-border-color  : $dropdown-a-border-bottom !default;

$dropdown-a-active-color        : $dropdown-a-hover-color !default;
$dropdown-a-active-bg-color     : $dropdown-a-hover-bg-color !default;
$dropdown-a-active-border-color : $dropdown-a-hover-border-color !default;

//-----------------------------------------------------------------
// Styles
//-----------------------------------------------------------------

ul {

	@extend %list-reset;
	min-width: $dropdown-width;
	text-align: $dropdown-text-align;
	transition: $base-transition;
	position: absolute;
	z-index: 5;
	opacity: 0;
	visibility: hidden;

	li {

		position: relative;

		a {
			background: $dropdown-a-bg-color;
			color: $dropdown-a-color;
			border-bottom: $dropdown-a-border-bottom;
			&:before, 
			&:after {
				font-family: FontAwesome;		
			}
			&:not(:only-child) {
				&:after {
					content: $dropdown-dropdown-icon;
					right: 0.75em;
					@include vertical-center(absolute);
				}
			}
		}

		// remove bottom border on last item
		&:last-child {
			a {
				border-bottom: none;
			}
		}

		&:hover {
			> a {
				color: $dropdown-a-hover-color;
				background: $dropdown-a-hover-bg-color;
				border-color: $dropdown-a-hover-border-color;
			}
		}

		&.active {
			> a {
				color: $dropdown-a-active-color;
				background: $dropdown-a-active-bg-color;
				border-color: $dropdown-a-active-border-color;
			}
		}

		ul {
			left: 100%;
			top: 0;
			li {
				a {
					border-left: $dropdown-a-border-left;
				}
			}
		}

	} // end li

} // end ul

// first level only
> ul {
	padding-top: $dropdown-top-position;
}