//=================================================================
// Dropdown Navigation
// Used in: "modules/_navigation.scss"
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$dropdown-default: (
	
	text-align            : left,
	width                 : 175px,
	top-position          : 0,
	dropdown-icon         : "\f105",
	low-level-icon        : "\f105",
	
	a-color               : navigation(a-has-child-color),
	a-bg-color            : navigation(a-has-child-bg),
	
	a-border-left         : navigation(a-border-width) solid darken(color(greyscale, white), 5%),
	a-border-bottom       : navigation(a-border-width) solid darken(color(greyscale, white), 5%),
	
	a-hover-color         : navigation(a-has-child-color),
	a-hover-bg-color      : navigation(a-has-child-bg),
	a-hover-border-color  : darken(color(greyscale, white), 5%),
	
	a-active-color        : navigation(a-has-child-color),
	a-active-bg-color     : navigation(a-has-child-bg),
	a-active-border-color : darken(color(greyscale, white), 5%)
	
);

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@if global-variable-exists(dropdown-custom) {
	$dropdown-default: map-merge($dropdown-default, $dropdown-custom);
}

@function dropdown($key) {
    @return map-get($dropdown-default, $key);
}

//-----------------------------------------------------------------
// Styles
//-----------------------------------------------------------------

ul {

	@extend %list-reset;
	min-width: dropdown(width);
	text-align: dropdown(text-align);
	transition: $base-transition;
	position: absolute;
	z-index: 5;
	opacity: 0;
	visibility: hidden;

	li {

		position: relative;

		a {
			background: dropdown(a-bg-color);
			color: dropdown(a-color);
			border-bottom: dropdown(a-border-bottom);
			&:before, 
			&:after {
				font-family: FontAwesome;		
			}
			&:not(:only-child) {
				&:after {
					content: dropdown(dropdown-icon);
					right: 0.75em;
					@include vertical-center(absolute);
				}
			}
		}

		// remove bottom border on last item
		&:last-child {
			a {
				border-bottom: none;
			}
		}

		&:hover {
			> a {
				color: dropdown(a-hover-color);
				background: dropdown(a-hover-bg-color);
				border-color: dropdown(a-hover-border-color);
			}
		}

		&.active {
			> a {
				color: dropdown(a-active-color);
				background: dropdown(a-active-bg-color);
				border-color: dropdown(a-active-border-color);
			}
		}

		ul {
			left: 100%;
			top: 0;
			li {
				a {
					border-left: dropdown(a-border-left);
				}
			}
		}

	} // end li

} // end ul

// first level only
> ul {
	padding-top: dropdown(top-position);
}