//=================================================================
// Dropdown
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$dropdown: (
	text-align            : left,
	width                 : 175px,
	top-position          : 0,
	dropdown-icon         : "\f105",
	low-level-icon        : "\f105",
	link-color            : navigation(a-has-child-color),
	link-hover-color      : navigation(a-has-child-color),
	link-active-color     : navigation(a-has-child-color)
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin dropdown($config: ()) {

	$config: map-merge-deep($dropdown, $config);
	$dropdown: $config !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(navigation) {

		// parent list
		ul {
			
			// dropdown list
			ul {
			
				@extend %list-reset;
				min-width: map-get($config, width);
				text-align: map-get($config, text-align);
				transition: base(transition);
				position: absolute;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
			
				li {
			
					position: relative;
			
					a {
						background: map-get($config, item-bg-color);
						color: map-get($config, link-color);
						&:before, 
						&:after {
							font-family: FontAwesome;		
						}
						&:not(:only-child) {
							&:after {
								content: map-get($config, dropdown-icon);
								right: 0.75em;
								@include vertical-center(absolute);
							}
						}
					}
			
					// remove bottom border on last item
					&:last-child {
						a {
							border-bottom: none;
						}
					}
			
					&:hover {
						> a {
							color: map-get($config, link-hover-color);
							background: map-get($config, item-hover-bg-color);
						}
					}
			
					&.active {
						> a {
							color: map-get($config, item-active-color);
							background: map-get($config, item-active-bg-color);
						}
					}
			
					ul {
						left: 100%;
						top: 0;
						li {
							a {}
						}
					}
			
				} // end li
			
			} // end ul
			
			// first level only
			> ul {
				padding-top: map-get($config, top-position);
			}
		
		} // ul (dropdown)
		
	} // ul (parent)
	
} // Dropdown

@include dropdown(
	if(variable-exists(dropdown), $dropdown, ())
);