//=================================================================
// Footer
//=================================================================

@mixin footer($config: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$footer: config((
	), $config);

	$config: $footer !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(footer) {

	// Core Styles
	//-------------------------------------------------------------
	
		text-align: center;	
		margin-bottom: base(margin);
		
	// Sub-Components
	//-------------------------------------------------------------
	
		@include sub-component(wrapper, static) {
			@media (min-width: breakpoint(break-2)) {		
				display: table;
				width: 100%;
				text-align: left;
			}
		}
	
		@include sub-component(nav, static) {
			ul {
			    @extend %list-reset;
			}
		    li {
			    display: inline-block;
			    &:not(:last-child) {
					margin-right: 1em;
			    }
		    }
			@media (min-width: breakpoint(break-2)) {
				text-align: right;
			}
		}
	
	} // component(footer)
	
	@media (min-width: breakpoint(break-2)) {
		.copyright, 
		.footer_nav {
			display: table-cell;
			vertical-align: middle;
		}
	}
	
} // @mixin footer