//=================================================================
// Google Map
//=================================================================

@mixin google-map($config: ()) {

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

	$config: map-merge-deep((
	), $config);
	
	$google-map: $config !global;

	.google-map {
		background: rgba(0,0,0,0.2);
	    width: 100%;
	    height: 375px;
		display: block;
	}
	
} // google-map