//=================================================================
// Google Map
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$google-map: (
	
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin google-map($config: ()) {

	$config: config($google-map, $config);
	$google-map: $config !global;

	.google-map {
		background: rgba(0,0,0,0.2);
	    width: 100%;
	    height: 375px;
		display: block;
	}
	
} // @mixin google-map