//=================================================================
// Google Map
//=================================================================

@mixin google-map($config: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	.google-map {
		background: rgba(0,0,0,0.2);
	    width: 100%;
	    height: 375px;
		display: block;
	}
	
} // @mixin google-map