//=================================================================
// Header
//=================================================================

@mixin header($config: ()) {
	
	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$header: config((
		// Settings
		absolute             : false,
		bar                  : false,
		dark                 : false,
		side                 : false,
		// Options
		side-width           : 350px,
		side-container-width : 100%,
		top-position         : 0,
		bg-color             : base(background-color),
		dark-color           : color(greyscale, grey-5),
		height               : 100px,
		z-index              : 5
	), $config) !global;
	
	$config: $header !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(header) {

	// Core Styles
	//-------------------------------------------------------------
	
		background-color: map-get($header, bg-color);	

	// Settings
	//-------------------------------------------------------------
	
		// Header Bar
		//---------------------------------------------------------
		
		@include setting(bar) {
			@at-root .wrap-header	{	
				display: table;
				width: 100%;
			}
			.logo, 
			.navigation {
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		// Absolute Position Header
		//---------------------------------------------------------
	
		@include setting(absolute) {
			position: absolute;
			top: map-get($header, top-position);
			z-index: map-get($header, z-index);
			width: 100%;
		}

		// Side Header
		//---------------------------------------------------------
	
		@include setting(side) {
			position: fixed;
			z-index: map-get($header, z-index);
			height: 100%;
			top: 0;	
			overflow: auto;
			width: map-get($header, side-width);	
			#{map-get($header, side)}: 0;
			+ #main {
				margin-#{map-get($header, side)}: map-get($header, side-width);
			}
			@include overwrite(container) {
				max-width: map-get($header, side-container-width);
			}
		}
		
		// Dark Header
		//---------------------------------------------------------
	
		@include setting(dark) {
			background-color: map-get($header, dark-color);
		}
		
	// Sub-Components
	//-------------------------------------------------------------

		@include sub-component(wrapper, static) {
			height: map-get($header, height);
		}
		
	} // component(header)

} // @mixin header