//=================================================================
// Header
//=================================================================

@mixin header($custom: ()) {
	
	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$header: config((
		name                 : header,
		// Options
		bg                   : base(background),
		height               : 100px,
		z-index              : 5,
		// Settings
		bar                  : false,
		absolute             : (
			default          : false,
			top-position     : 0
		),
		dark                 : (
			default          : false,
			bg               : color(greyscale, grey-5)
		),
		side                 : (
			default          : false,
			width            : 350px,
			container-width  : 100%
		),
		sticky               : (
			default          : true,
			bg               : color(greyscale, grey-5),
			height           : 80px
		)
	), $custom) !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	@include component(app-header) {

	// Core Styles
	//-------------------------------------------------------------
	
		background-color: option($header, bg);
		transition: background base(transition);

	// Settings
	//-------------------------------------------------------------
	
		// Header Bar
		//---------------------------------------------------------
		
		@include setting(bar) {
			@include sub-component(wrapper, static) {	
				display: table;
				width: 100%;
			}
			@include overwrite((logo, navigation)) {
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		// Absolute Position Header
		//---------------------------------------------------------
		
		@include setting(absolute) {
			position: absolute;
			top: option($header, absolute, top-position);
			z-index: option($header, z-index);
			width: 100%;
		}

		// Side Header
		//---------------------------------------------------------
	
		@include setting(side) {
			position: fixed;
			z-index: option($header, z-index);
			height: 100%;
			top: 0;	
			overflow: auto;
			width: option($header, side, width);	
			#{option($header, side, default)}: 0;
			+ #main {
				margin-#{option($header, side, default)}: option($header, side, width);
			}
			@include overwrite(container) {
				max-width: option($header, side, container-width);
			}
		}
		
		// Dark Header
		//---------------------------------------------------------
	
		@include setting(dark) {
			background-color: option($header, dark, bg);
		}
		
		// Sticky Header
		//---------------------------------------------------------
		
		@include setting(sticky) {
			&.fixed {
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 12;
				background: option($header, sticky, bg);
				@include overwrite-sub(wrapper) {
					height: option($header, sticky, height);
				}
				@include modifier(absolute, "not") {
					@include overwrite(billboard, $special: adjacent-sibling) {
						margin-top: option($header, sticky, height);
					}
				}
			}
		}
		
	// Sub-Components
	//-------------------------------------------------------------

		@include sub-component(wrapper, static) {
			height: option($header, height);
			transition: base(transition);
		}
		
	} // component(app-header)

} // @mixin header