//=================================================================
// Logo
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$logo: (
	
);

$logo-text-align : left !default;
$logo-color      : white !default;
$logo-size       : 1.5em !default;
$logo-padding    : 0 !default;

@mixin logo($config: ()) {
	
	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$config: config($logo, $config);
	$logo: $config !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------

	.logo {	
	
		color: $logo-color;
		font-size: $logo-size;
		text-align: $logo-text-align;
		padding: $logo-padding;
		// for plain text logos
		a {
			color: $logo-color;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
		// for image logos
		img {
			height: 38px;
			display: inline-block;
			vertical-align: middle;
		}
	
	} // .logo
	
} // @mixin logo