//=================================================================
// Logo
//=================================================================

@mixin logo($config: ()) {

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

	$config: map-merge-deep((
	), $config);
	
	$logo: $config !global;

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------
	
	$logo-text-align                : left !default;
	
	$logo-color                     : color(brand, primary) !default;
	$logo-size                      : font-size(size-5) !default;
	
	$logo-padding                   : 0 !default;

//-----------------------------------------------------------------
// Component
//-----------------------------------------------------------------

	.logo {	
	
		color: $logo-color;
		font-size: $logo-size;
		text-align: $logo-text-align;
		padding: $logo-padding;
		// for plain text logos
		a {
			color: $logo-color;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
		// for image logos
		img {
			height: 38px;
			display: inline-block;
			vertical-align: middle;
		}
	
	} // end .logo
	
} // logo