//=================================================================
// Main Navigation
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$navigation-default: (
	
	text-align             : right,
	margin-top             : 0,
	dropdown-icon          : "\f107",
	no-icons               : false,
	
	no-icon                : false,
	a-color                : color(brand, primary),
	
	a-border-color         : transparent,
	a-border-left          : 1px solid transparent,
	a-border-rigt          : 1px solid transparent,
	a-border-top           : 1px solid transparent,
	a-border-bottom        : 1px solid transparent,
	
	a-hover-color          : color(greyscale, white),
	a-hover-bg-color       : color(brand, primary),
	a-hover-border-color   : transparent,
	
	a-active-color         : color(greyscale, white),
	a-active-bg-color      : color(brand, primary),
	a-active-border-color  : transparent,
	
	a-has-child-color      : color(greyscale, white),
	a-has-child-bg         : color(brand, primary),
	a-has-child-border     : color(brand, primary),
	
	a-radius               : 0,
	a-spacing              : 0.5em,
	a-padding              : 0.5em 0.75em,
		
	li-border-color        : transparent,
	li-border-left         : 0px solid transparent,
	li-border-right        : 0px solid transparent,
	li-border-top          : 0px solid transparent,
	li-border-bottom       : 0px solid transparent,
	li-hover-border-color  : transparent,
	li-active-border-color : transparent
	
);

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@if global-variable-exists(navigation-custom) {
	$navigation-default: map-merge($navigation-default, $navigation-custom);
}

@function navigation($key) {
    @return map-get($navigation-default, $key);
}

//-----------------------------------------------------------------
// Component
//-----------------------------------------------------------------

.app-nav {

// Core Styles
//-----------------------------------------------------------------

    // all items
    li {    
        a {
            display: block;
            padding: navigation(a-padding);
            color: navigation(a-color);
            &:hover {
                text-decoration: none;
            }
            // icon
            .fa {
                margin-right: 0.5em;
            }
        }       
        // for child menus 
        &:hover {
            > ul {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // first level nav only
    > ul {

        @extend %list-reset;
        display: none; // hide by default for mobiles
        vertical-align: middle;

        > li {

            @import "dropdown-nav"; // load the dropdown nav

            transition: $base-transition;

            // add gap between items
            margin-left: navigation(a-spacing);
            &:first-child {
                margin-left: 0;
            }

            // li borders
            border-color: navigation(li-border-color);
            border-left: navigation(li-border-left);
            border-right: navigation(li-border-right);
            border-top: navigation(li-border-top);
            border-bottom: navigation(li-border-bottom);

            > a {
                background: navigation(a-bg-color);
                border-color: navigation(a-border-color);
                border-left: navigation(a-border-left);
                border-right: navigation(a-border-right);
                border-top: navigation(a-border-top);
                border-bottom: navigation(a-border-bottom);
                border-radius: navigation(a-radius);
                // add icon if item has dropdown menu
                &:not(:only-child) {
                    &:after {
                        content: navigation(dropdown-icon);
                        font-family: FontAwesome;
                        margin-left: 0.5em;
                    }
                }
            }

            &:hover {
                border-color: navigation(li-hover-border-color);
                > a {
                    color: navigation(a-hover-color);
                    border-color: navigation(a-hover-border-color);
                    background: navigation(a-hover-bg-color);
                    // if item has dropdown menu
                    &:not(:only-child) {
                        color: navigation(a-has-child-color);
                        background: navigation(a-has-child-bg);
                        border-color: navigation(a-has-child-border);
                        border-bottom-color: transparent;
                    }
                }
            }

            &.active {
                border-color: navigation(li-active-border-color);
                > a {
                    color: navigation(a-active-color);
                    background: navigation(a-active-bg-color);
                    border-color: navigation(a-active-border-color);
                }
                &:hover {
                    border-color: navigation(li-hover-border-color);
                    > a {
                        background: navigation(a-hover-bg-color);
                    }
                }
            }

        } // end > li

    } // end > ul

    &.no-icons {
        .fa {
            display: none;
        }
    }

    @if navigation(no-icons) == true {
        @extend .no-icons;
    }

//-----------------------------------------------------------------
// Side Navigation
//-----------------------------------------------------------------

    [class*="header-side"] & {

        ul {
            display: block;
            visibility: visible;
            opacity: 1;
            position: relative;
            left: 0;
        }

        li {
            display: block;
            margin-left: 0;            
            a {
                position: relative;
                &, &:last-child {
                    border-bottom: navigation(a-border-bottom);
                }
                &:not(:only-child) {
                    &:after {
                        content: navigation(dropdown-icon);
                        right: 1.5em;
                        @include vertical-center(absolute);
                    }
                }
            }
            // dropdown nav
            ul {
                // 2nd level and below
                ul {
                    font-size: font-size(size-2);
                    li {
                        a {
                            &:before {
                                font-family: FontAwesome;
                                content: "\f105";
                                margin-right: 0.5em;
                            }
                        }
                    }
                    // 3rd level and below
                    ul {
                        padding-left: 1rem;
                    }
                }
            }
        }

    } // end [class*="header-side"] &

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

    @media (min-width: breakpoint(break-3)) {
        text-align: navigation(text-align);
        > ul {
            display: inline-block;
            white-space: nowrap;
            > li {
                display: inline-block;
                position: relative;
            }
        }
    }

} // end .app-nav