//=================================================================
// Promo Banner
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$promo-banner: (
	
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin promo-banner($config: ()) {

	$config: config($promo-banner, $config);
	$promo-banner: $config !global;

	.promo-banner {
	
	} // .promo-banner
		
} // @mixin promo-banner