//=================================================================
// Scroll Wheel
//=================================================================

//-----------------------------------------------------------------
// Config
//-----------------------------------------------------------------

$scroll-wheel: (
	
);

//-----------------------------------------------------------------
// Mixin
//-----------------------------------------------------------------

@mixin scroll-wheel($config: ()) {

	$config: map-merge-deep($scroll-wheel, $config);
	$scroll-wheel: $config !global;
	
	.scroll-wheel {
	
		position: absolute;
		font-size: font-size(size-6);
		color: color(greyscale, white);
		border: 0.075em solid;
		border-radius: 1em;
		width: 1.5em;
		height: 2.4em;
		bottom: 2rem;
		@extend %horizontal-center;
		&:before {
			content: "";
			height: 0.25em;
			width: 0.25em;
			border-radius: 50%;
			background: color(greyscale, white);
			position: absolute;
			top: 0.5em;
			// animation: scroll-down 1.2s infinite;
			transform: translateZ(0);
			@extend %horizontal-center;
		}
	
		@keyframes scroll-down{
			0%{
				top: 0.5em;
			}
			100%{
				top: 1.2em;
			}
		}
	
	} // .scroll-wheel
	
} // @mixin scroll-wheel