//=================================================================
// Dropdown
//=================================================================

@mixin mega-menu($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$mega-menu: config((
		name                  : mega-menu
	), $custom) !global;
	
	//-------------------------------------------------------------
	// Component
	//-------------------------------------------------------------
	
	[class*="#{option($navigation, name)}"] {
		
		@include component(mega-menu) { 
		
			width: 100%;
			left: 0;
			right: 0;
			position: fixed;
			margin: auto;
			padding: 1.5em;
			width: option($grid, options, base-width);
			background: color(greyscale, grey-1);
			border-bottom: 0.6em solid color(brand, primary);
	
			ul {
				position: relative;
				left: 0;
				display: block;
				opacity: 1;
				visibility: visible;
				min-width: 0;
				// prevent unwanted showing of mega-menu
				pointer-events: none;
				li {
					> a {
						padding: 0;
						border-color: transparent;
					}
					&:hover {
						> a {
							background: transparent;
							border-color: transparent;
							color: color(brand, primary);
						}
					}
				}
			}
			
			p {
				margin: 1em 0;
				@include vertical-rhythm;
			}
			
			.link {
				display: inline;
				padding: 0;
				border: none;
				color: color(brand, primary);
				transition: none;
				&:hover {
					border-bottom: 1px dotted;
				}
			}
			
			@include sub-component(title) {
				margin-top: 0;
				margin-bottom: 1em;
				padding-bottom: 0.5em;
				border-bottom: 1px solid color(greyscale, grey-2);
			}
			
			@include overwrite(widget) {
				&#{$col-selector} {
					display: inline-block;
					&:after {
						display: none;
					}
				}
			}
			
			@include overwrite-sub(group, $parent: widget) {
				&:not(:last-child) {
					margin-bottom: 3%;
				}
			}
			
			@include overwrite-sub(group, $parent: heading) {
				color: typography(colors, heading);
			}
		
		} // component
		
		// parent list
		ul {
			li {
				// reset pointer events
				&:hover {
					@include overwrite(mega-menu) {
						ul {
							pointer-events: auto;
						}
					}
				}
			}
		}

	} // overwrite(navigation)
	
} // @mixin dropdown